/*!
  These are the SARD specific styles
 */



// Global styles =======================
  @import "global/colors";

  @import "global/fonts";

  @import "../fonts/font-awesome/css/font-awesome.css";

  @import "global/typography";

  @import "global/structure";


// Bootstrap overrides =================

  @import "bootstrap-overrides/bs-overrides";

  // SARD styles =======================

  @import "sard/sa-rag-status";

  @import "sard/sa-components";

  @import "sard/sa-tabs";

  @import "sard/sa-datepicker";

  @import "sard/sa-search";

  @import "sard/sa-datatable";

  // Keep this last in list
  @import "sard/sa-page-elements";

  



  // Experiments =======================


  @import "experiments/sa-sidebar";

  @import "experiments/sa-polygon";

  // Removed

  // @import "experiments/sa-vertical-tabs-exp01";
  
  // @import "experiments/sa-bhoechie-vertical-tabs";

  // @import "experiments/sa-simple-vertical-tabs";

  // @import "experiments/sa-bs-vertical-tabs";

  // @import "experiments/sa-bs-vertical-tabs-2";

  // @import "sard/sa-vertical-tabs";



