

// Import Bootstrap scss ===============
  @import "bootstrap.scss";

// These are the SARD specific styles

// Global styles =======================
  @import "global/colours";

  @import "global/fonts";

  @import "../fonts/font-awesome/css/font-awesome.css";

  @import "global/typography";

  @import "global/structure";


// Bootstrap overrides =================

  // @import "bootstrap-overrides/bs-page-header";

  // @import "bootstrap-overrides/bs-jumbotron";

  // @import "bootstrap-overrides/bs-nav-tabs";

  // @import "bootstrap-overrides/bs-panels";

  // @import "bootstrap-overrides/bs-alerts";

  // @import "bootstrap-overrides/bs-tables";

  // @import "bootstrap-overrides/bs-buttons";

  @import "bootstrap-overrides/bs-tooltips-popovers";

  // @import "bootstrap-overrides/bs-pagination";

  // @import "bootstrap-overrides/bs-modal";

  // @import "bootstrap-overrides/bs-progress-bar";


// SARD styles =======================

  @import "sard/sa-jumbotron";

  @import "sard/sa-page-header";

  @import "sard/sa-pagination";
  
  @import "sard/sa-alerts";

  @import "sard/sa-rag-status";

  @import "sard/sa-components";

  @import "sard/sa-navbar";

  @import "sard/sa-megamenu";

  @import "sard/sa-breadcrumbs";

  // @import "sard/sa-tabs";

  @import "sard/sa-nav-tabs";

  @import "sard/sa-forms";

  @import "sard/sa-modal";

  @import "sard/sa-accordion";

  @import "sard/sa-panels";

  @import "sard/sa-tables";

  @import "sard/sa-buttons";

  @import "sard/sa-datepicker";

  @import "sard/sa-search";

  @import "sard/sa-datatable";

  @import "sard/sa-do-next-chart";

  @import "sard/sa-notifications";

  @import "sard/sa-progress-bar";


// SARD Page Specific Items ==========

  @import "sard/pages/login";

  @import "sard/pages/support";

  @import "sard/pages/index";

  @import "sard/pages/my-appraisal";

  @import "sard/pages/jobplan";

  @import "sard/pages/admin";


// Experiments =======================

  // Removed

  // @import "experiments/sa-sidebar";

  // @import "experiments/sa-polygon";

  // @import "experiments/sa-vertical-tabs-exp01";
  
  // @import "experiments/sa-bhoechie-vertical-tabs";

  // @import "experiments/sa-simple-vertical-tabs";

  // @import "experiments/sa-bs-vertical-tabs";

  // @import "experiments/sa-bs-vertical-tabs-2";

  // @import "sard/sa-vertical-tabs";



