

// Admin

// The Navbar Admin is in sard/_sa-navbar




.admin .jumbotron{
  background-color:$admin;
}

.admin #top{ // This lowers the content to allow for the second navbar
  // min-height:90px;
}

.admin .breadcrumbs{
  border-bottom: 1px solid $admin;
}

.admin .breadcrumb > .active {
  color: $admin-dark;
}



// Trust Chart Diagram ===================================

.admin-db #trust_chart{
  // background-color:red;
  position: relative;
  top:-20px;
  left:-170px;
  z-index:0;

}

.admin-db #trust_chart .rect{
  fill:none;
  x:100;
  y:20;
  overflow:hidden;
  z-index:-100;

}


.admin-db #trust_chart .title{
  display:none;
}

.admin-db #results{
  margin-bottom:30px;
}

// Users ===================================================

.options{
  margin-bottom: 20px;
}

.options .btn{
  margin-bottom:5px;
}

.options .divider{
  margin:10px 5px;
}

@media (min-width: 768px) {

  .options .btn {
    display: block;
    position:relative;
    width: 100%;
  }
}



#users.table{
  border-bottom:1px solid $grey08;
  width: calc(100% - 1px;
}

#users.table tbody tr{
  box-sizing: border-box;
  border-right:1px solid $grey08 ; 
}

#users.table > thead > tr > th,
  #users.table > tbody > tr > th,
  #users.table > tfoot > tr > th,
  #users.table > thead > tr > td,
  #users.table > tbody > tr > td,
  #users.table > tfoot > tr > td{
  padding: 5px 5px 5px 0px ;
  vertical-align:middle;
}

#users.table > tbody > tr.medic{
  border-left:10px solid $medic;
}

#users.table > tbody > tr.non-medic{
  border-left:10px solid $non-medic;
}

#users.table .user-photo{
  width:60px;
  padding-left:10px;
}
#users.table .edit{
  font-size:1.5em;
  float:right;
  margin-right:-5px;
}

.user-cards{  // This overrides the containing col div 
  margin-right:-8px;
}
.user-card{
  background-color:$grey02;
  display:inline-block;
  width:calc(50% - 12px);
  margin-right:10px;
  margin-bottom:16px;
  border-radius:4px;
  vertical-align:top;
}

.user-card.medic:before{
  height:18px;
  border-radius: 4px 4px 0px 0px;
  background-color:$medic;
  width:100%;
  padding: 2px 10px;
  content: "Medic";
  color:white;
  font-size:1em;
  line-height:1em;
  float:right;
  text-align:right;
}

.user-card.non-medic:before{
  height:18px;
  border-radius: 4px 4px 0px 0px;
  background-color:$non-medic;
  width:100%;
  padding: 2px 10px;
  content: "Non Medic";
  color:white;
  font-size:1em;
  line-height:1em;
  float:right;
  text-align:right;
}


.user-card .user-title{
  display:table;
  width:100%;
  vertical-align:middle;
  border-bottom:1px solid $grey08;
  padding: 7px 10px;
}

.user-card .user-title .user-photo{
  width:60px;
  padding-right:10px;
  display:table-cell;
  vertical-align:middle;
}

.user-card .user-title .user-photo img{
  width:100%;
}

.user-card .user-title .user-name{
  display:table-cell;
  vertical-align:middle;

}
.user-card .user-title p{
  margin:0;
}

.user-card .user-title .name{
  font-size:1.2em;
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  line-height:1em;
  // padding-top:8px;
  margin-bottom:0;
}

.user-card .user-detail{
  border-bottom:1px solid $grey08;
  padding: 7px 10px;
}

.user-card .user-detail table{
  width:100%;
}

.user-card .user-detail table td{
  line-height:1.2em;
}

.user-card .edit-box{
  padding: 7px 10px;
}

.user-card .edit-box .edit{
  float:right;
  font-size:1.5em;
  line-height:1em;
}



