

// Admin

// The Navbar Admin is in sard/_sa-navbar




.admin .jumbotron{
  background-color:$admin-colour;
}

.admin #top{ // This lowers the content to allow for the second navbar
  min-height:90px;
}

.admin .breadcrumbs{
  border-bottom: 1px solid $admin-colour;
}

.admin .breadcrumb > .active {
  color: $admin-colour-dark;
}