

// Admin

// The Navbar Admin is in sard/_sa-navbar




.admin .jumbotron{
  background-color:$admin-colour;
}

.admin #top{ // This lowers the content to allow for the second navbar
  min-height:90px;
}

.admin .breadcrumbs{
  border-bottom: 1px solid $admin-colour;
}

.admin .breadcrumb > .active {
  color: $admin-colour-dark;
}



// Trust Chart Diagram ===================================

.admin-db #trust_chart{
  // background-color:red;
  position: relative;
  top:-20px;
  left:-170px;
}

.admin-db #trust_chart .rect{
  fill:none;
  x:100;
  y:20;
}

.admin-db #trust_chart .title{
  display:none;
}

.admin-db #results{
  margin-bottom:30px;
}