

//== Portfolio Page

// $rag-red:          $red;
// $rag-amber:        $yellow;
// $rag-green:        $green;
// $rag-na:           $grey14;


// #portfolio, #appraisal{

// page specific items here =========================================

  .header{
    // background-color:$grey18;
    // // background-image:url(../textures/natural-paper.png);
    // color:white;
    // margin:-16px -31px 24px -30px;
    // padding: 15px;
  }

  // // Colouring
  // .rag-red{ background-color:$rag-red; }

  // .rag-amber{ background-color:$rag-amber; }

  // .rag-green{ background-color:$rag-green; }

  // .rag-na{ background-color:$rag-na; }

      // Status Buttons
      .appraisal-dataset-guidance{
      // font-size: 0; // This removes the gap between the boxes
      // padding-top:20px;

      .rag-boxes{
        // display:inline-block;
        // width:50%;
        // text-align:center;
      }

      .box{
        // display:inline-block;
        // border-radius:50%;
        // content: " ";
      }

      .rag {
        // background-image: url("..//graphics/panel_highlight.png");
        // background-repeat: no-repeat;
        // background-size: 100% ;
        // display:inline-block;
        // border-radius:50%;
        // color:white;
        // background-image:url(../textures/natural-paper.png);
      }

      // Sizing
      /* Custom, iPhone Retina */ 
        @media only screen and (min-width : 320px) {
          // .box{ width:90px; min-height:90px; border:5px solid transparent; font-family:robotobold; font-size: 14px; line-height:1em;}
          // .rag{ width:80px; min-height:80px; border:5px solid white; padding-top:30%;}
        }

        /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 480px) {
          // .box{ width:130px; min-height:130px; border:10px solid transparent; font-family:robotoregular; font-size: 24px; }
          // .rag{ width:110px; min-height:110px; border:10px solid white; padding-top:26%; }
        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
          // .box{ width:120px; min-height:120px;}
          // .rag{ width:100px; min-height:100px;}
        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
          // .box{ width:160px; min-height:160px; font-family:robotolight; font-size: 34px;}
          // .rag{ width:140px; min-height:140px; padding-top:28%; }
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
          // .box{ width:200px; min-height:200px; font-size: 40px; }
          // .rag{ width:180px; min-height:180px; padding-top:30%; }
        }

      // Status effects
      // .selected.box-red{ border-color: $rag-red;}
      // .selected.box-amber{ border-color: $rag-amber;}
      // .selected.box-green{ border-color: $rag-green;}
      // .selected.box-na{ border-color: $rag-na;}

      // a:hover.box-red > .rag-red,
      // a:focus.box-red > .rag-red {background-color:darken($rag-red, 10%);}

      // a:hover.box-amber > .rag-amber,
      // a:focus.box-amber > .rag-amber {background-color:darken($rag-amber, 10%);}

      // a:hover.box-green > .rag-green,
      // a:focus.box-green > .rag-green {background-color:darken($rag-green, 10%);}

      // a:hover.box-na > .rag-na,
      // a:focus.box-na > .rag-na {background-color:darken($rag-na, 10%);}
      
    } // End .appraisal-dataset-guidance ============================================================

    // Status tag in navs
      .appraisal-dataset .rag_status{
        // background-image: url("..//graphics/panel_highlight.png");
        // background-repeat: no-repeat;
        // background-size: 100% ;
        // display: inline;
        // float: left;
        // width: 16px;
        // margin-right: 10px;
        // margin-top: 2px;
        // margin-left: -24px; // indenting the text ( see: vertical-tabs.scss / .nav-list > li > a)
        // height: 16px;
        // border-radius:50%;
      } 

      // .rag-status-bar{
      //   height:30px;
      //   margin-left:-16px;
      //   margin-top:-16px;
      //   margin-right:-16px;
      //   margin-bottom:10px;
      //   text-align:right;
      //   font-weight:bold;
      //   color:white;
      //   padding:5px;
      // }



    // Evidences, Comments and Notes =====================================================================

    .evidences, .comments, .notes{
      // background-color:pink;

      #new_evidence{
        // background-color:yellow;
      }

      textarea {
        // overflow: hidden; 
        // word-wrap: break-word; 
        // resize: vertical; 
        // min-height: 100px;
        // width:100%;
        // border:1px solid $grey10;
        // padding:0px 5px;
      }

      input{
        // border:1px solid $grey10;
        // padding:0px 5px;
      }

      .evidence{
        // display: table;
        // border-top: 6px solid $grey18;
        // margin-top:20px;
        // padding:10px 0px;
        // vertical-align:top;
      }

     .evidence .icon-box{
      // display: table-cell;
      // padding-left:0px;
      // margin-right:-10px;
      // vertical-align:top;
      // width: 40px;
     }

      .evidence .icon{
        // display: table-cell;
        // height: 40px;
        // width: 40px;
        // text-align: center;
        // border: 4px solid #000;
        // font-size: 2em;
        // font-weight: bold;
        // line-height: 32px;
      }

      .evidence .detail{
        // display: table-cell;
        // width: 50%;
        // padding:0px 10px;
        // vertical-align:top;
      }

      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px) {
        // .evidence .detail{width: 70%;}
      }

      .evidence .detail .title{
        // font-weight:bold;
      }

      .evidence .detail .content{
      }

      .evidence .expiry{
        // display: table-cell;
        // vertical-align:top;
        // padding:0px 10px;
        // border-left:1px solid $grey18;
      }

      .evidence .detail .edocs{
      }

      .evidence .detail .edocs .attachments{
      }

    }// End .evidences, .comments, .notes =====================================================================

// } // END portfolio
