

// Index Page


#index-page{

  .index-list{
    ul{ 
      padding-left:20px;
      font-size: 2.000em;
    }
    li{ 
      font-size: 0.750em;
      line-height:1em;
      text-indent: -1.28571429em;
      padding:0.25em 0em 0.25em 1.28571429em;
    }
  }

} // END index
