

//== Job Plan Page


#job-plan{

  .all-activities{
    display: block;
  }

  .drag_handle_header{
    display: none;
  }

  .drag_handle{
    display: none;
  }

#job-content-sort-picker{
  label {
    padding-right:20px;
  }
}


} // END job-plan

