

//== Job Plan Page

// $rag-red:          $red;
// $rag-amber:        $yellow;
// $rag-green:        $green;
// $rag-na:           $grey14;


// #job-plan{

  .all-activities{
    display: block;
  }

  .drag_handle_header{
    display: none;
  }

  .drag_handle{
    display: none;
  }



// } // END job-plan
