

// Index Page

#login-page{
  background-color:$client;

  .brand{
    text-align:center;
  }

  .welcome{
    margin-bottom:50px;
  }

  // Small screens
  @media (max-width: 767px) {
    .brand img{
      width:100%;
      margin: 0 0px 50px 0px;
    }
  } 

  // Medium screens
  @media (min-width: 768px){
    .brand img{
      width:calc(100% + 10px);
      margin: 0 -5px 50px -5px;
    }
  } 

  .sign-in{
    margin-bottom:60px;
  }

  .login-addons .demo-statement{
    padding:0px 15px 10px 15px;
  }

  
} // END login


// Supoort videos override
#login-page #supportVideos .vid-thumb{
  padding: 0 0 0 15px;
}
