
//  My Appraisal Pages


// appraisal-dataset =================================================

.appraisal-dataset{ }

.appraisal-dataset-guidance{ 
  margin-top:-10px;
}

.appraisal-dataset-guidance h4{
  padding-right:0!important;
}



// Evidences, Comments and Notes =====================================

.evidences, .comments, .notes{

    .evidence-title{
      padding:0;
      .glyphicon{
        float:right;
        font-size:0.5em;
      }
    }

    #new_evidence{
    }

    textarea {
      overflow: hidden; 
      word-wrap: break-word; 
      resize: vertical; 
      min-height: 100px;
      width:100%;
      border:1px solid $grey10;
      padding:0px 5px;
    }

    input{
      border:1px solid $grey10;
      padding:0px 5px;
    }

    .evidence{
      display: table;
      border-top: 1px solid $grey08;
      margin-top:20px;
      padding:0px;
      vertical-align:top;
    }

     .evidence .icon-box{
      float:left;
      display: table-cell;
      padding-left:0px;
      margin-right:-10px;
      vertical-align:top;
      width: 50px;
      margin-top:10px;
     }

    .evidence .icon{
      display: table-cell;
      height: 40px;
      width: 40px;
      text-align: center;
      border: 4px solid #000;
      font-size: 2em;
      font-weight: bold;
      line-height: 32px;
    }

    .evidence .detail{
      display: table-cell;
      width: 50%;
      padding:7px 10px 10px 10px;
      vertical-align:top;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .evidence .detail{width: 70%;}
    }

    .evidence .detail .title{
      font-family: 'robotobold', Helvetica, Arial, Sans-serif;
      font-size:1.3em;
      margin-top:-2px;
    }

    .evidence .detail .content{
    }

    .evidence .location{
      padding-top:10px;
      font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    }

    .evidence .expiry{
      display: table-cell;
      vertical-align:top;
      padding:10px 10px;
      border-left:1px solid $grey08;
    }

}// End .evidences, .comments, .notes =====================================================================




// Attachments =========================================================================================


.attachments{
  // border-top: 1px solid $grey18;
  // margin-left:10px;
}

.attachments h3, h4{
  padding-bottom:10px;
}

.attachment-fragment{
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px dotted $grey04;
}
.attachment-fragment:last-of-type{
  border-bottom: transparent;
}

.attachment-fragment .file{
  padding-left: 1.3em ;
  text-indent: -1.3em ;
}

// .attachment-fragment .fa{ padding-right:20px;}

// a[class$='pdf']:before, .file a[class$='pdf']:before {
//   font-family: 'FontAwesome';
//   content: "\f1c1" ;
//   padding-right:20px;
//   color:$red;
//   float:left;
// }

// .attachment-fragment a[class$='doc']:before, .file a[class$='doc']:before,
// .attachment-fragment a[class$='docx']:before, .file a[class$='docx']:before {
//   font-family: 'FontAwesome';
//   content: "\f1c2" ;
//   padding-right:20px;
//   color:$blue;
//   float:left;
// }

// .attachment-fragment a[class$='txt']:before, .file a[class$='txt']:before,
// .attachment-fragment a[class$='rtf']:before, .file a[class$='rtf']:before {
//   font-family: 'FontAwesome';
//   content: "\f0f6" ;
//   padding-right:20px;
//   color:$grey18;
//   float:left;
// }

// .attachment-fragment a[class$='jpg']:before, .file a[class$='jpg']:before {
//   font-family: 'FontAwesome';
//   content: "\f1c5" ;
//   padding-right:20px;
//   color:$grey18;
//   float:left;
// }

// .attachment-fragment a[class$='jpg']:before, .file a[class$='jpg']:before,
// .attachment-fragment a[class$='gif']:before, .file a[class$='gif']:before,
// .attachment-fragment a[class$='png']:before, .file a[class$='png']:before {
//   font-family: 'FontAwesome';
//   content: "\f1c5" ;
//   padding-right:20px;
//   color:$grey18;
//   float:left;
// }

// .attachment-fragment a[class$='xls']:before, .file a[class$='xls']:before,
// .attachment-fragment a[class$='xlsx']:before, .file a[class$='xlsx']:before {
//   font-family: 'FontAwesome';
//   content: "\f1c3" ;
//   padding-right:20px;
//   color:$green;
//   float:left;
// }


// eDocs ===================================================================


.edoc-list{ 
  margin-top:20px;
}

.edoc-list .edocuments{
  padding-right:10px;
  padding-left:10px;
}
  .edoc-list .date {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  background: $grey16;
  color:white;
  padding: 3px 20px;
  margin: 00px -13px 0px -13px;
  border-radius:20px;
}

.edoc-list .time {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.edoc-list .time:first-of-type{
  border-top: none;
  padding-top: 0px;
}
// .edoc-list ul{ padding-left:10px; }

// .edoc-list li a{
//   font-size:1.25em;
// }

.edoc-list table{
  margin-bottom:0px;
}

.edoc-list tr > td {
  border-top:1px solid $grey04!important;
}

.edoc-list td.file{
  // padding-right:15px;
  font-size:1.2em;
  line-height:1.25em;
  padding-left: 2em ;
  text-indent: -1.3em ;
}

.edoc-list td.links{
  text-align:right;
  font-size:1.2em;
  padding-bottom:7px;
  margin-bottom:7px;
}

// eDocs Sortable Table styles ============================================

.datatable .table{
  padding:0px;
  margin-left:-8px;
  margin-right:-8px;
  width: calc(100% + 16px);
}

.datatable .table > thead > tr > th{
  border-bottom: 0px solid red;
  background-color: $grey16;
  color:white;
  border-radius:20px;
  text-align:center;
  vertical-align:middle;
}
.datatable .table > thead > tr > th:first-of-type{
  left:-5px;
}
.datatable .table > thead > tr > th:last-of-type{
  right:-5px;
}


.datatable .table td{
  border-top: none;
  border-bottom: 1px solid $grey04;
  padding-left:5px;
  padding-right:5px;
}

.datatable .table a:before{
  margin-right:-10px;
}

.datatable .table a:link{
  // padding-left: 0px ;
  // text-indent: 0px ;
}

.datatable .edit{
  float:right;
  padding-right:10px;
}



