

//  My Appraisal Pages




// page specific items here =========================================

  
.appraisal-header{
  .section{
    margin:0;
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  }
  .title{
    margin:0;
    padding:0;
    font-family: 'robotothin', Helvetica, Arial, Sans-serif;
    font-size: 4.000em;
    margin-left:-4px;
  }
  @media (max-width: 767px) {
    .title{font-size: 3.000em;}
  }
  .description{
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.25em;
    margin:0;
    padding:0;
    padding-top:5px;
  }
}

// appraisal-dataset =================================================

.appraisal-dataset{ }

.appraisal-dataset-guidance{ 
  margin-top:20px;
}



// Evidences, Comments and Notes =====================================

.evidences, .comments, .notes{

  .evidence-title{
    padding:0;
    .glyphicon{
      float:right;
      font-size:0.5em;
    }
  }

  #new_evidence{
  }

  textarea {
    overflow: hidden; 
    word-wrap: break-word; 
    resize: vertical; 
    min-height: 100px;
    width:100%;
    border:1px solid $grey10;
    padding:0px 5px;
  }

  input{
    border:1px solid $grey10;
    padding:0px 5px;
  }

  .evidence{
    display: table;
    border-top: 1px solid $grey08;
    margin-top:20px;
    padding:0px;
    vertical-align:top;
  }

   .evidence .icon-box{
    float:left;
    display: table-cell;
    padding-left:0px;
    margin-right:-10px;
    vertical-align:top;
    width: 50px;
    margin-top:10px;
   }

  .evidence .icon{
    display: table-cell;
    height: 40px;
    width: 40px;
    text-align: center;
    border: 4px solid #000;
    font-size: 2em;
    font-weight: bold;
    line-height: 32px;
  }

  .evidence .detail{
    display: table-cell;
    width: 50%;
    padding:7px 10px 10px 10px;
    vertical-align:top;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .evidence .detail{width: 70%;}
  }

  .evidence .detail .title{
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-size:1.3em;
    margin-top:-2px;
  }

  .evidence .detail .content{
  }

  .evidence .location{
    padding-top:10px;
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  }

  .evidence .expiry{
    display: table-cell;
    vertical-align:top;
    padding:10px 10px;
    border-left:1px solid $grey08;
  }

  // EXPERIMENT --- NOT USED ------------------------------------------------------------
  // .evidence .expiry{
  //   border-left-style: dotted;
  //   border-left-color: $grey10;
  //       //border-image-source: url("http://cl.ly/3c2J3c0l3r0P/dots.svg"); ORIGIAL-BILD  
  //   border-image-source: url("../graphics/dots-g06.svg");
  //       // border-image-slice: 33% 33%; 
  //   border-image-slice: 33% 33%; 
  //   border-image-repeat: round;
  //   border-width: 0px  0px 0px 1px;
  // }
  // @media screen\0 { // ie8, 9, 10 Hack
  //   .evidence .expiry{ border-left: 2px dotted $grey08;}
  // }


}// End .evidences, .comments, .notes =====================================================================





