
//  My Appraisal Pages


// appraisal-dataset =================================================

.appraisal-dataset{ }

.appraisal-dataset-guidance{ 
  margin-top:-10px;
}

.appraisal-dataset-guidance .glyphicon{
  padding-bottom:5px;
}

.appraisal-dataset-guidance .btn{
  border-radius:4px;
  padding:20px 0px;
}


// Evidences, Comments and Notes =====================================

// All Evidences ---------------------------------------------
.evidence-box .panel{
}
.evidence-box .panel-body{
  padding:15px;
}

// Add Evidences ---------------------------------------------
.evidence-box .add-evidence{
}



// View Evidences, Comments, Notes =========================================

#view_evidences .evidence,
#view_comments .evidence,
#view_notes .evidence{
  padding:0px;
  border-top:4px solid $grey14;
  display:table;
  width:100%;
}
#view_evidences .evidence:first-of-type,
#view_comments .evidence:first-of-type,
#view_notes .evidence:first-of-type{
  border-top:none;
}



// Detail Section --------------------------
.evidence-box .evidence .detail{
  padding:10px 15px;
}

// Expiry section -------------------------

.evidence-box .evidence .expiry{
  padding:10px 0px;
}
.evidence-box .evidence .expiry .expiry-dates{
  padding:0px 10px 10px 10px;
  float:left;
}

.evidence-box .evidence .edit-links{
  padding:10px 15px 5px 15px;
  float:right;
  font-size: 1.75em;
  text-align:right;
}


// Size layouts ----------------------------------


// Medium screens
@media (max-width: 991px) {
  .evidence-box .evidence .detail{
    display:block;
  }
  .evidence-box .evidence .expiry{
    display:block;
    border-top:1px dotted $grey14;
  }
  .evidence-box .evidence .expiry .expiry-dates{
    display:table-cell;
  }
  .evidence-box .evidence .edit-links{
    display:table-cell;
  }
} 


// Large screens
@media (min-width: 992px) {
  .evidence-box .evidence .detail{
    display:table-cell;
    width:75%;
    vertical-align:top;
  }
  .evidence-box .evidence .expiry{
    display:table-cell;
    vertical-align:top;
    position: relative;
    border-left:1px dotted $grey14;
  }
  .evidence-box .evidence .expiry .expiry-dates{
    display:table-cell;
  }
  .evidence-box .evidence .edit-links{
    display:block;
    position: absolute;
    bottom: 0px;
    width:100%;
  }
} 



.evidence-box .evidence .detail .title{
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
  font-size: 1.500em;
  line-height:1.2em;
  margin:0;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px dotted $grey14;
}

.evidence-box .attachments{
  padding-bottom:5px;
  border-bottom: 1px dotted $grey14;
  text-align:left;
}

.evidence-box .attachments label{
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  margin-top:2px;
  margin-bottom:2px;
}

.evidence-box .attachments .file{
  
}
.evidence-box .attachments .file a:link:before{
padding-right:7px;
}


.evidence-box .evidence .detail .location{
  padding-top:10px;
}
.evidence-box .evidence .detail .location label{
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  letter-spacing: $slight;
  padding-right:5px;
}

// Edit Evidence Buttons ------------------------------

.evidence-box .edit-links .glyphicon.glyphicon-pencil {
  color:$turq;
}
.evidence-box .edit-links .glyphicon.glyphicon-pencil:hover {
  color:darken($turq, 5%);
}
.evidence-box .edit-links .glyphicon.glyphicon-pencil:active {
  color:darken($turq, 10%);
}

.evidence-box .edit-links .glyphicon.glyphicon-remove-circle {
  color:$red;
}
.evidence-box .edit-links .glyphicon.glyphicon-remove-circle:hover {
  color:darken($red, 5%);
}
.evidence-box .edit-links .glyphicon.glyphicon-remove-circle:active {
  color:darken($red, 10%);
}

.evidence-box .edit-evidence-link{
  cursor:pointer;
}

// Edit Evidence section -----------------------------------

.evidence-box .edit-evidence .form-group .row{
  margin-left:-10px;
  margin-right:-10px;
}

.evidence-box .edit-evidence{
  display:none;
  text-align:center;
  background:$turq;
  color:#fff;
  padding:15px;
  margin-top:1px;
  margin-bottom:-1px;
}

.evidence-box .edit-evidence .attachments{
  padding-bottom:5px;
  border-bottom: none;
  color:$grey18;
  text-align:left;
  a:before{
    color:$grey18;
  }
}

.evidence-box .edit-evidence .file a{
  color:$grey18;
}

.evidence-box .edit-evidence .file button{
  background-color: transparent;
  border:none;
  color:darken($turq, 20%);
}











// eDoc List ===================================================================
// Option 1 ONLY

.edoc-list{ 
  margin-top:20px;
}

.edoc-list .edocuments{
  padding-right:10px;
  padding-left:10px;
}
  .edoc-list .date {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  background: $grey16;
  color:white;
  padding: 3px 20px;
  margin: 0px -13px 0px -13px;
  border-radius:20px;
}

.edoc-list .time {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.edoc-list .time:first-of-type{
  border-top: none;
  padding-top: 0px;
}

.edoc-list table{
  margin-bottom:0px;
}

.edoc-list tr > td {
  border-top:1px solid $grey04!important;
}

.edoc-list td.file{
  font-size:1.2em;
  line-height:1.25em;
  padding-left: 2em ;
  text-indent: -1.3em ;
}

.edoc-list td.links{
  text-align:right;
  font-size:1.2em;
  padding-bottom:7px;
  margin-bottom:7px;
}





