// Support

// System Access & Help =============
#systemAccess  {
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 8px 8px;
  }
}

#systemAccess table{
  margin-bottom:10px;
}


// Support Videos ====================
#supportVideos .vid-list{
  padding: 20px 0;
  border-bottom:1px solid $grey16;
}

#supportVideos .vid-list:first-of-type{
  padding-top:10px;
}

#supportVideos .vid-list:last-of-type{
  border-bottom:none;
  padding-bottom:0;
}

#supportVideos .vid-thumb{
  padding: 0 0 0 0px;
  img{
    width:100%;
  }
}

#supportVideos .vid-text{
  padding: 0 15px;
  h4{margin-top:0;}
}

#supportVideos .modal-content{
  background-color:black;
  color:white;
}

#supportVideos .modal-header{
  border:none;
  text-align:center;
}

#supportVideos .modal-body{
  color:white;
  padding:0;
  margin:0;
}

#supportVideos .modal-body .video{
  padding:0;
  margin:0;
}

#supportVideos .modal-footer{
  border:none;
}

// User Guides ====================
.user-guides{
  margin-left:-8px;
  margin-right:-8px;
}

.user-guide-thumb{
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

// FAQs ===========================

.faqs .section{
  font-family: 'robotolight', Helvetica, Arial, Sans-serif;
  font-size: 2.000em;
  margin-bottom:0px;
}

.faqs .question{
  padding-left:2em;
  padding-top:5px;
}

.faqs .question h4:before {
  font-family: 'FontAwesome';
  content: "\f059" ;
  color:$client;
  display: inline-block; width: 1.25em;
  margin-left: -1.25em;
}
.faqs .question h4{
  line-height:1.2em;
  padding-right:2em;

}
.faqs .question h6{
  margin-top:-5px;
  line-height:1.3em;
  padding-right:2em;
}

.faqs .answer{
  padding-left:2em;
  padding-top:5px;
  padding-right:2em;
}

.faqs .answer ul{
  list-style: none;
  list-style-type:none;
  }

.faqs .answer ul li:before {
  content: "•"; 
  color:$client;
  display: inline-block; width: .55em;
  margin-left: -.55em;
  font-size: 190%;
  vertical-align:middle;
  line-height:0em;
}

.faqs .answer ul li{ 
  padding-left:1em;
}

.faqs .answer ul li:last-of-type{ 
  padding-bottom:0em;
}


.faqs .answer  ol {
  padding-left:0;
  list-style: none; 
  counter-reset: li;
}

.faqs .answer  ol li {
  counter-increment: li;
  padding-left:1.5em;
  // padding-bottom:.5em;
}

.faqs .answer  ol li::before {
  content: counter(li); 
  color: $client;
  display: inline-block; 
  width: 1em; 
  margin-left: -1.5em;
  margin-right: 0.5em; 
  text-align: right; 
  direction: rtl;
}


// faq-accordion ====================

.faq-accordion{
  box-shadow:none;
  background-color: white; 
  border-bottom:1px solid $grey04;
  padding-bottom:10px;
  margin-bottom:10px;
}

.faq-accordion .accordion-toggle {
  display: block;
}

.faq-accordion .glyphicon-minus,
.faq-accordion .glyphicon-plus {
  color:$text;
  padding-right:0px;
  padding-top:5px;
}

/* set panel-heading paddings to <a> instead of h3 */    
.faq-accordion .panel-heading { 
  padding:0px;
  background-color: white; 
}

.faq-accordion .panel-body { 
  padding:0px;
  background-color: white; 
}

