// ====================================================================================

// Sidebar styles =====================================

// http://jsfiddle.net/waspinator/z92bxk0d/

.sidebar{
        z-index: 100;
        // background-color:red;
        position:relative;
        top:0px;
        left:-15px;
        min-height:100%;

        // html, body {
        //   background-color:red;
        // }


  }

.sidebar-content {
    width:100%;
    height:0px;
    // margin-right: auto;
    // margin-left: auto;
    
    min-height:100%;

    .panel-group {
      margin-bottom: 0px;
      // Tighten up margin so it's only between panels

      -webkit-backface-visibility: hidden;
        -webkit-transform: translateX(-100%) rotate(-90deg);
        -webkit-transform-origin: right top;
        -moz-transform: translateX(-100%) rotate(-90deg);
        -moz-transform-origin: right top;
        -o-transform: translateX(-100%) rotate(-90deg);
        -o-transform-origin: right top;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right top;

        .panel {
          margin-bottom: 0;
          // border-radius: $panel-border-radius;

        + .panel {
          margin-top: 5px;
        }
      }

      .panel-heading {
        border-bottom: 0;

        + .panel-collapse > .panel-body,
        + .panel-collapse > .list-group {
          // border-top: 1px solid red;
        }
      }

      .panel-title {
          height:18px
      }

      .panel-title a {
          float:right;
          text-decoration:none;
      }

      .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
        border-top:  0px;
      }

      .panel-body {
        // height:100%;
        // min-height:100%;
        height:680px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateX(100%) rotate(90deg);
        -webkit-transform-origin: left top;
        -moz-transform: translateX(100%) rotate(90deg);
        -moz-transform-origin: left top;
        -o-transform: translateX(100%) rotate(90deg);
        -o-transform-origin: left top;
        transform: translateX(100%) rotate(90deg);
        transform-origin: left top;
    }

      .panel-footer {
        border-top: 0;
        + .panel-collapse .panel-body {
          // border-bottom: 1px solid $panel-inner-border;
        }
      }
    } // End Panel group

} // End .sidebar-content