// sa-tabs =====================================
// This is used for the Appraisal pages


$tab-colour:        $grey04;
$tab-colour-hover:  $grey06;
$tab-list-colour:   $grey02;
$tab-list-hover:    $grey08;
$tab-pane-colour:   white;
$tab-text:          $grey18;
$tab-shadow:        $grey10;



// everything should be contained in the sa-tabs tag

.sa-tabs{
    margin-top:20px;

    // horzontal tabs =================================================

    .horizontal-tabs{  // This places the rule full width of the window
      border-bottom: 1px solid $client-colour;
    }

    .h-tab-wrapper { // This keeps the tabs within a conatiner
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 768px) {
      .h-tab-wrapper {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .h-tab-wrapper {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .h-tab-wrapper {
        width: 1170px;
      }
    }

    .nav-tabs {
      border: 0px;
      margin-bottom: -1px;
      padding:0px;
    }
    .nav-tabs > li {
      float: left;
      border-bottom: 0px;
      margin-bottom: -1px;
    }

    .nav-tabs > li > a {
      border: 0px;
      background-color: $tab-colour;
      margin-bottom: -1px;
      border-radius: 0px 0px 0 0;
    }

    // tab spacing
    // http://stackoverflow.com/questions/16906642/twitter-bootstrap-tabs-how-to-increase-spacing-between-tabs
    .nav-tabs > li > a {
      margin-left:5px;
      margin-right:5px;
      border-bottom: 4px solid $tab-shadow;   // Change these together for tab shadow adjustment
    }

    .nav-tabs > li > a:hover {
      background-color: $tab-colour-hover;
    }

    .nav-tabs .active{
      border-top: 1px solid $client-colour;
      border-right: 1px solid $client-colour;
      border-bottom: 6px solid white;   // Change these together for tab shadow adjustment
      border-left: 1px solid $client-colour;
      margin-bottom: -1px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      color: #555555;
      background-color: transparent;
      border: 0px;
      border-bottom-color: white;
      cursor: default;
    }


    
    // nav-tabs.nav-justified =================================

    .nav-tabs.nav-justified {
      width: 100%;
      border: 0;
      padding:0px;
    }

    .nav-tabs.nav-justified > li {
      float: none;
      margin-left:0px;
      margin-right:5px;
      margin-bottom:1px;
    }

    .nav-tabs.nav-justified > li > a {
      text-align: center;
      background-color: $tab-colour;
      border-bottom: 5px solid $tab-shadow;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
      }
      .nav-tabs.nav-justified > li > a {
      }
    }

    .nav-tabs.nav-justified > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
    
    .nav-tabs.nav-justified > li > a {
      margin-right: 0;
      border-radius: 0px;
    }

    .nav-tabs.nav-justified .active{
      border: 0px;
    }

    .nav-tabs.nav-justified > .active > a{
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      background-color: white;
      border-top: 1px solid $client-colour;
      border-right: 1px solid $client-colour;
      border-bottom: 6px solid $client-colour;   // Change these together for tab shadow adjustment
      border-left: 1px solid $client-colour;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified > li > a {
        border-bottom: 4px solid $tab-shadow;   // Change these together for tab shadow adjustment
        border-radius: 0px 0px 0 0;
      }
      .nav-tabs.nav-justified > .active > a,
      .nav-tabs.nav-justified > .active > a:hover,
      .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
      }
    }


} // End sa-tabs


