  // Add .toggle-plus before an .accordion-toggle to include a + - symbol to it 

  .toggle-plus.accordion-toggle[aria-expanded="true"]:after{
    font-family: 'FontAwesome';
    content: "\f068"; // minus
    position: absolute;
    top:0;
    right:0;
    color:$text;
  }
  .toggle-plus.accordion-toggle[aria-expanded="false"]:after{
    font-family: 'FontAwesome';
    content: "\f067"; // plus
    position: absolute;
    top:0;
    right:0;
    color:$text;
  }


// SA-Accordion ================================================


.sa-accordion .panel-heading .accordion-toggle {
  display: block;
}

/* set panel-heading paddings to <a> instead of h3 */    
.sa-accordion .panel-heading { 
  padding:0px;
  color:white;
}

.sa-accordion .panel-heading a:link{ // This makes the entire panel-heading a link
  padding:10px 15px;
  color:white;
}

.sa-accordion .panel-heading a:visited{ // This makes the entire panel-heading a link
  color:white;
}

.sa-accordion .panel-heading h3{ 
  margin:0; // Adjusts some strange overlap of the panel-heading
}

.sa-accordion .glyphicon{ padding: 0;}

.sa-accordion .glyphicon-minus,
.sa-accordion .glyphicon-plus
{color:white;}

// Colouring =========================================================
$accordian: $grey14;

.sa-accordion{
  // border-bottom:1px solid $accordian;
}

/* change color of open class */
.sa-accordion .panel-heading h3{ 
  background-color: darken($accordian, 15%); 
}
.sa-accordion .panel-heading h3:hover{
  background-color:darken($accordian, 20%);
}
.sa-accordion .panel-heading h3:active{
  background-color:darken($accordian, 25%);
}

/* change color of collapsed class */
.sa-accordion .collapsed { 
  background-color: darken($accordian, 0%); 
}
.sa-accordion .collapsed:hover { 
  background-color: darken($accordian, 5%); 
}
.sa-accordion .collapsed:active { 
  background-color: darken($accordian, 10%); 
}

.sa-accordion .panel{
  background-color:white;
  border:none;
  box-shadow:none;
}
.sa-accordion .panel-heading + .panel-collapse > .panel-body{ 
  border:none;
  border-left:1px solid $accordian;
  border-right:1px solid $accordian;
  border-bottom:1px solid $accordian;
}

.sa-accordion:last-of-type > .panel-heading + .panel-collapse > .panel-body{
  border-bottom:1px solid $accordian;
}

.sa-accordion .panel-body{
  margin-bottom:-1px;
  border:none;
  box-shadow:none;
}

.sa-accordion .panel-footer{
  background-color: darken($accordian, 5%);
  color:white;
  border:none;
}

// Default Colouring =========================================================

.panel-default.sa-accordion .panel-heading + .panel-collapse > .panel-body{ 
  border:none;
}

// Admin Colouring ==========================================================

/* change color of open class */
.panel-admin.sa-accordion .panel-heading h3{ 
  background-color: darken($admin, 0%); 
}

.panel-admin.sa-accordion .panel-heading h3:hover{
  background-color:darken($admin, 5%);
}
.panel-admin.sa-accordion .panel-heading h3:active{
  background-color:darken($admin, 10%);
}

/* change color of collapsed class */
.panel-admin.sa-accordion .collapsed { 
  background-color: darken($admin, 0%); 
}
.panel-admin.sa-accordion .collapsed:hover { 
  background-color: darken($admin, 5%); 
}
.panel-admin.sa-accordion .collapsed:active { 
  background-color: darken($admin, 10%); 
}

.panel-admin.sa-accordion .panel-heading + .panel-collapse > .panel-body{ 
  border:none;
}

.panel-admin.sa-accordion .panel-footer{
  background-color: darken($admin, 0%);
}