

//== Page Specific Elements



@import "pages/all";
@import "pages/index";
@import "pages/index-sidebar";
@import "pages/ui-kop";
@import "pages/dashboard";
@import "pages/my-appraisal";
@import "pages/jobplan";
