// ====================================================================================

$tab-colour:        $grey06;
$tab-list-colour:   $grey02;
$tab-list-hover:    $grey08;
$tab-pane-colour:   white;

// Portfolio =====================================
.number{
  float:left;
  postition:absolute;
  display:flex;
  top:0px;
  background:$grey18;
  padding-top:5px;
  padding-right:7px;
  padding-bottom:5px;
  margin-top:-10px;
  margin-right:10px;
  min-width:40px;
  color:white;
  font-size:2em;
  // line-height:1em;
  padding-left:10px;
  border-right: 1px solid $grey18;
}
.section-title{
  // padding-left:40px;
  line-height:1em;
  vertical-align:middle;
}

.portfolio{
  // background:black;
  padding-bottom: 60px;
}

.portfolio .vertical-tabs{
  padding-bottom: 60px;
  display: flex;

  // Style the stack of all links
  .nav-stacked{
    padding-left:0px;
    padding-right:0px;
    border-bottom:1px;
  }

  .collapsed > .list-head{
    margin-bottom:1px;
  }

  .collapsed > .list-head.last{
    margin-bottom:0px;
  }

  .list-head{
    postition:relative;
    background:$tab-colour;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid $tab-colour ;
    min-height:50px;    
  }

  // Style the links inside the list items 

  .tabs li{
    background:$tab-list-colour; 
    padding-left:0px;
    padding-right:0px;
    border-bottom: 1px solid $tab-colour;
    box-shadow: -1px 0px 0px $tab-colour inset;
    padding-left:1px;
  }

  .tabs li:last-of-type{
  }

  .tabs a:hover{
    color:$grey18;
  }

  .tabs li a {
  }
  
  // Change background color of links on hover     
  .tabs li a:hover {
      background-color: $tab-list-hover;
  }

  // Create an active/current tablink class  
  .tabs li a:focus, .active{
    background:$tab-pane-colour; 
    border-right: 1px solid $tab-pane-colour;
    border-left:1px solid $tab-colour ;
    z-index:3000;
    box-sizing: border-box;
    margin-left:-1px;
  }

  // KEPT IN FOR REFERENCE
  // .tabs > li.active > a,
  // .tabs > li.active > a:hover,
  // .tabs > li.active > a:focus {
  //   background:pink; 
  // }

  .tab-content{
    background:tab-pane-colour;
    padding-left:0px;
    padding-right:0px;
    
  }

  .tab-content > .tab-pane{
    border-top:1px solid $tab-colour;
    border-right:1px solid $tab-colour;
    border-bottom:1px solid $tab-colour;
    border-left:1px solid $tab-colour;
    margin-left:-1px;
    background:tab-pane-colour;
    min-height: 100%;
    padding-left:30px;
    padding-right:30px;
  }


} // End Portfolio vertical-tabs

// ================================================================

// Appraisal

.appraisal{
  background:black;
  padding-bottom: 60px;
}

.appraisal .vertical-tabs{
  background:pink;
  padding-bottom: 60px;
  display: flex;

  // Style the stack of all links
  .nav-stacked{
    background:red;
  }

  .list-head{
    background:yellow;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid black;
  }
  .list-head.last{
    border-bottom: none;
  }

  .tabs li{
    background:green; 
    padding-left:0px;
    padding-right:0px;
    border-bottom: 1px solid black;
  }
  .tabs li:last-of-type{
    border-bottom: none;
  }

  // Style the links inside the list items 
  .tabs li a {
    // padding-bottom:0px;
  }
  
  // Change background color of links on hover     
  .tabs li a:hover {
      background-color: purple;
  }

  // Create an active/current tablink class  
  .tabs li a:focus, .active{
    background:blue; 
  }

  // KEPT IN FOR REFERENCE
  // .tabs > li.active > a,
  // .tabs > li.active > a:hover,
  // .tabs > li.active > a:focus {
  //   background:pink; 
  // }


  .tab-content{
    background:blue;
  }

  .tab-pane{
    background:orange;
    min-height: 100%;
  }

} // End Appraisal vertical-tabs