// From: http://bootsnipp.com/snippets/featured/custom-search-input

.sard-search{
  background-color:$turq;
  margin:0px 0px 30px 0px;
  padding:10px;
  border-radius:8px;
}

#sard-search-input{
    padding: 4px;
    border-radius: 4px;
    background-color: white;
}

#sard-search-input input{
    border: 0;
    box-shadow: none;
}

#sard-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#sard-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#sard-search-input .glyphicon-search{
    font-size: 23px;
    color:$turq;
}
#sard-search-input .glyphicon-search:hover{
    color:darken($turq, 10%);
}
#sard-search-input .glyphicon-search:active{
    color:darken($turq, 15%);
}

#sard-search-input .btn{
  top: 0px; // Ths overrides the sard button styles for movement when pressed
}

.sard-search .results{
  color:white;
  line-height:1em;
  padding-top:5px;
}

// Admin Colours ========================


.admin .sard-search{
background-color:$admin-colour;
}

.admin #sard-search-input .glyphicon-search{
    font-size: 23px;
    color:$admin-colour;
}
.admin #sard-search-input .glyphicon-search:hover{
    color:darken($admin-colour, 10%);
}
.admin #sard-search-input .glyphicon-search:active{
    color:darken($admin-colour, 15%);
}


// Advanced Search Form ====================================

#ASF{
  // display:inline-block;
}

#ASF .header{
  padding-top: 10px;
}

#ASF .ASF-body{
  background-color:white;
  margin-top:10px;
  border-radius: 4px;
  padding:10px
}

#ASF .ASF-body .heading{
  margin-top:0;
}

.asf-form{
// margin:-5px;
margin-bottom:10px;
box-sizing: border-box;
}

.asf-form fieldset{
  box-sizing: border-box;
  // border:1px solid $grey16;
  background-color:$grey02;
}

.asf-form fieldset fieldset{
  background-color:white;
  margin:8px;
  .note{ 
    margin-bottom:0;
    padding-left: 0.8em;
    text-indent:-0.8em;
  }
}

.asf-form legend{
  background-color:$grey16;
  box-sizing: border-box;
  font-size:1em;
  color:white;
  padding:0 5px 1px 5px;
  margin-top:10px;
  margin-bottom:-1px;
  // margin-left:-1px;
  // width: calc(100% + 2px);
  border:none;
}

// This overrides the .toggle plus in sa-accordion
.asf-form legend.toggle-plus.accordion-toggle:after{
  position: relative;
  float:right;
    // right:15px;
    // top:-4px;
    color:white;
  }

.asf-form .form-group{
  margin:5px 0px;
  font-size:0.8em;
  // background-color:yellow;
}

.asf-form .form-group:first-child{
  margin-top:10px;
}

.asf-form .form-group:last-child{
  margin-bottom:10px;
}

.asf-form .form-group .control-label{
  text-align:left;
  padding-top:2px;
}

.asf-form .form-group .form-control{
  width:inherit;
}

.asf-form .form-group input{
  padding:5px;
  height: 22px;
  margin:0;
}
.asf-form .form-group input:focus{
  box-shadow: none!important;
  border-color: $admin-colour;
  border-width:1px;
  outline: none;
}

.double-text-column{
  margin:0;
  padding-left:10px;
  width:49%;
  display:inline-block;
}

.double-text-column:nth-child(odd){
  // background-color:pink;
  padding-right:10px;
  border-right:1px solid $grey08;
}

.double-text-column:nth-child(even){
  // background-color:pink;
  // padding:0;
  border-right:none;
}

.double-text-column input[type=checkbox] {
  float:right;
  // margin-right:10px;
}

.asf-form .form-group select[class=col-xs-6]{
  width:54.7%;
  left:8px;
}

.asf-form .form-group input[class=col-xs-7]{
  width:54.7%;
  left:8px;
}



