// Rag Status

$rag-red:          $red;
$rag-amber:        $yellow;
$rag-green:        $green;
$rag-na:           $grey14;
$rag-white:        $white;



// Colouring
.rag-red{ background-color:$rag-red; }

.rag-amber{ background-color:$rag-amber; }

.rag-green{ background-color:$rag-green; }

.rag-na{ background-color:$rag-na; }

.rag-white{ background-color:$rag-white; }

.rag-default{ background-color:$grey16; }


// Elements

.rag-status-bar{
  height:32px;
  min-height:32px;
  margin-left:-20px;
  margin-top:-21px;
  margin-right:-21px;
  margin-bottom:10px;
  font-weight:bold;
  color:white;
  padding:6px 22px 0px 22px;
}


  // Status Lights ========================================================

  .status{
    // font-family: 'Glyphicons Halflings';
    // content: "\e080" ;
  }

  .status:before{
    content: "" ;
    display: inline-block;
    border-radius:50%;
    border: 2px solid white;
    float:left;
    background-image: url("../graphics/panel_highlight.png");

    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    text-align:center;
    color:white;
  }

  .status-alert:before{
    background-color:$orange;
    content: "A" ;
  }

  .status-warning:before{
    background-color:$yellow;
    content: "W" ;
  }

  .status-success:before{
    background-color:$success;
    content: "S" ;
  }

  .status-danger:before{
    background-color:$danger;
    content: "D" ;
  }

  .status-none:before{
    background-color:transparent;
    content: "N" ;
    color:$grey10;
    border-color:$grey10;
  }

// Table specific Status Lights ================
.table div{ 
    &.status:before{
      height: 30px;
      width: 30px;
      background-size: 28px 28px;
      background-repeat: no-repeat;
      padding-top:3px;
      padding-left:1px;
    }
    &.status-alert:before{ padding-left:1px; }
    &.status-danger:before{ padding-left:2px; }
  }

  .status-col{ 
    padding: 4px 0px 4px 12px !important; 
    width:20px;
  }


  // RAG Buttons ====================================================

  .appraisal-dataset-guidance h4{
    padding-right:0!important;
  }

  .rag-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top:30px;
    margin-bottom:20px;
  }

  .rag-buttons .rag-btn{
    position: relative;
    width: 25%;
    height:50px;
    padding: 0.9rem;
    margin-right:1px;
    background-color: white;
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.5em;
    border: 1px solid $grey04;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:110;
  }

  .rag-buttons .rag-btn:first-of-type{
    border-radius: 1rem 0rem 0rem 1rem; /* top left, top right, bottom right, bottom left */
  }
  .rag-buttons .rag-btn:last-of-type{
    border-radius: 0rem 1rem 1rem 0rem; /* top left, top right, bottom right, bottom left */
  }

  .rag-buttons button.rag-btn-red{ color: $rag-red;}
  .rag-buttons button.rag-btn-red:hover  { 
    background-color: $rag-red; 
    border-color: darken($rag-red, 10%);
    color: white; 
  }
  .rag-buttons button.rag-btn-red:focus  { 
    top:4px;
    background-color: $rag-red; 
    border-color: darken($rag-red, 10%);
    color: white; 
    padding-top:1.2rem;
    -webkit-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:100;
  }
  .rag-buttons button.rag-btn-red:active { 
    background-color: $rag-red; 
  }

  .rag-buttons button.rag-btn-green{ color: $rag-green;}
  .rag-buttons button.rag-btn-green:hover  { 
    background-color: $rag-green; 
    border-color: darken($rag-green, 10%);
    color: white; 
  }
  .rag-buttons button.rag-btn-green:focus  { 
    top:4px;
    background-color: $rag-green; 
    border-color: darken($rag-green, 10%);
    color: white; 
    padding-top:1.2rem;
    -webkit-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:100;
  }
  .rag-buttons button.rag-btn-green:active { 
    background-color: $rag-green; 
  }

  .rag-buttons button.rag-btn-amber{ color: $rag-amber;}
  .rag-buttons button.rag-btn-amber:hover  { 
    background-color: $rag-amber; 
    border-color: darken($rag-amber, 10%);
    color: white; 
  }
  .rag-buttons button.rag-btn-amber:focus  { 
    top:4px;
    background-color: $rag-amber; 
    border-color: darken($rag-amber, 10%);
    color: white; 
    padding-top:1.2rem;
    -webkit-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:100;
  }
  .rag-buttons button.rag-btn-amber:active { 
    background-color: $rag-amber; 
  }

  .rag-buttons button.rag-btn-na{ color: $rag-na;}
  .rag-buttons button.rag-btn-na:hover  { 
    background-color: $rag-na; 
    border-color: darken($rag-na, 10%);
    color: white; 
  }
  .rag-buttons button.rag-btn-na:focus  {
    top:4px; 
    background-color: $rag-na; 
    border-color: darken($rag-na, 10%);
    color: white; 
    padding-top:1.2rem;
    -webkit-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:100;
  }
  .rag-buttons button.rag-btn-na:active { 
    background-color: $rag-na; 
  }

  .rag-buttons button.rag-btn.selected{
    top:4px;
    padding-top:1.2rem;
    color:white!important;
    -webkit-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.3);
    z-index:100;
  }

  .rag-buttons button.rag-btn.rag-btn-red.selected{
    background-color:$rag-red;
    border-color: darken($rag-red, 10%);
  }
  .rag-buttons button.rag-btn-green.selected{
    background-color:$rag-green;
    border-color: darken($rag-green, 10%);
  }
  .rag-buttons button.rag-btn.rag-btn-amber.selected{
    background-color:$rag-amber;
    border-color: darken($rag-amber, 10%);
  }
  .rag-buttons button.rag-btn.rag-btn-na.selected{
    background-color:$rag-na;
    border-color: darken($rag-na, 10%);
  }

// END Rag Buttons ==========================================