

// SARD Components

// These are any SARD specific componants 

// Sections ===================================================================


.container{
  // background-color:orange;
}
.row{
  // background-color:pink;
}

#top{
  min-height:50px;
}

.sa-top-section{ 
}

.sa-header{
  background-color:$grey02;
  padding-bottom:30px;
  margin-bottom:20px;
}

.sa-main-section{
  padding-top: 20px; 
  margin-bottom: 60px;
  height:100%;
  min-height:100%;
}

.sa-main-content{  // OPTIONAL
  height:100%;
  min-height:100%;
 }


.sa-footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color:$grey18;
  color: $client;
  height:40px;
  padding: 10px 0px 0px 0px;
  a{color:white;}
}

.sa-footer .text-left{ padding-left:0px;}
.sa-footer .text-right{ padding-right:0px;}



.sa-main-column{ 
  // margin-bottom:60px;
} // If creating a 2 column layout like dashboard use this.

@media only screen and (min-width : 992px){
  .sa-right-column{ // If creating a 2 column layout like dashboard use this.
  padding-right:0px;
  } 

  .sa-left-column{ // If creating a 2 column layout like dashboard use this.
  padding-left:0px;
  } 
}

@media only screen and (max-width : 991px){
  .sa-right-column{ // If creating a 2 column layout like dashboard use this.
    padding-right:0px;
    padding-left:0px;
  } 

  .sa-left-column{ // If creating a 2 column layout like dashboard use this.
  padding-right:0px;
  padding-left:0px;
  } 
}



// SARD Incidentals =================================================================


.topButton {
  margin-top:-10px;
  padding:0;
  background-image: url("../graphics/flower_sm_wht.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center; 
  height:40px;
}

.row-grey{ 
  background-color:$grey10;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.row-turq{ 
  background-color:$turq;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

// Only display element on Mobile ==================
@media only screen and (min-width : 992px) {
  .mobile-only{display:none} 
}

// Hide element on Mobile ==========================
@media only screen and (max-width : 991px) {
  .mobile-hide{display:none} 
}

// =======================================================
// Turns columns into table rows to achieve equal heights
@media only screen and (min-width : 768px) {
    .table-row {
        display: table;
    }
    .table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
// This overrides the above for any columns nested within
.table-row [class*="col-"]{
  [class*="col-"]{
    float: initial;
    display: initial;
  }
}


// Various spacings ================================

.indent15{
  padding-left:15px;
  padding-right:15px;
}

.no-indent{
  padding-left:0px;
  padding-right:0px;
}

.row-indent{
  padding-left: 15px;
  padding-right: 15px;
}
.space-above{ margin-top:30px;}
.space-below{ margin-bottom:30px;}
.vertical-spaced{ margin-top:20px; margin-bottom:20px;}

.fast-links{ margin-top:20px; margin-bottom:30px;}




//  Perforation dots ==============================================================

hr {
  height: 1px;
  color: $text;
  background: #ed1d61;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
  

.divide-rule{
  border-top: 1px solid $grey08;
  margin:20px 10px 20px 10px;
}

.divider{
  height: 1px;
  color: $text;
  background: $text;
  border: 0;
  margin-top: 0.5em;
  margin-bottom:-0.5em;
}

.divider-grey{
  height: 1px;
  color: $grey08;
  background: $grey08;
  border: 0;
  margin-top: 0.5em;
  margin-bottom:-0.5em;
}

.perf {
      background-image: url("../graphics/dot_grey04.png");
      background-repeat: repeat-x;
      height: 16px;
      background-position: -4px 0px;
      margin: 15px 0px 25px 0px;
    }

 .row-top-perfs:before{
    display: block;
    height: 16px;
    margin-left: -20px;
    margin-right: -20px;
    background: url('../graphics/dot_white.png');
    background-repeat: repeat-x;
    background-position: -4px -8px;
  }

  .row-bottom-perfs:after{
    display: block;
    height: 16px;
    margin-left: -20px;
    margin-right: -20px;
    background: url('../graphics/dot_white.png');
    background-repeat: repeat-x;
    background-position: -4px 8px;
  }


  .perf-grey06 {
    background-image: url("../graphics/dot_grey06.png");
    background-repeat: repeat-x;
    height: 16px;
    background-position: -4px 0px;
    // margin: 15px -20px 25px -20px;
  }

  .perf-wht {
    background-image: url("../graphics/dot_white.png");
    background-repeat: repeat-x;
    height: 16px;
    background-position: -4px 0px;
    // margin: 15px -20px 25px -20px;
  }
  .panel-body .perf-wht{
    margin-left:-15px;
    margin-right:-15px;
  }

  .break {
    margin-left:-100%;
    margin-right:-100%;
  }

  .divide-space {
    height: 40px;
    background:none;
  }


  .tab-content .perf {
    margin: 40px -30px 30px -30px;
    // background-image: url("../graphics/dot_grey06.png");
  }


  .panel{
    >.perf-wht{
        background-image: url("../graphics/dot_white.png");
        background-repeat: repeat-x;
        height: 16px;
        background-position: -4px 0px;
        margin: 0px 0px 0px 0px;
      }

    >.perf-grey{
      background-image: url("../graphics/dot_grey04.png");
      background-repeat: repeat-x;
      height: 16px;
      background-position: -4px 0px;
      margin: 0px 0px 0px 0px;
    }
  }


//  Panels ==============================================================
//  All panel styles are in _bs-overrides.scss
//  =====================================================================

//  Tables ==============================================================
//  All tables styles are in _bs-overrides.scss
//  =====================================================================

//  Buttons ==============================================================
//  All button styles are in _bs-overrides.scss
//  =====================================================================



// Notices ===============================================================
.notice-group{
}

.notice-group h3 .glyphicon{
font-size:14px;
}

.notice{
  padding-top:1px;
  margin-bottom:7px;
  padding-bottom:8px;
  border-bottom: 1px solid $grey06;
}
.notice:last-of-type{
  border-bottom: none;
  margin-bottom:-20px;
}
.panel-body .notice{
  border-bottom-color: white;
}

.notice{ 
  &.status:before{
    height: 32px;
    width: 32px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    padding-top:4px;
  }
  &.status-alert:before{ padding-left:2px; }
  &.status-danger:before{ padding-left:2px; }
  &.status:hover:before{ }

  h5, h6, p{
    margin:0 0 0 40px;
  }
  p{ margin-bottom:-3px;}
}

 .notice{
  a:link{ color:$text;}
  a:visited{ color:$text;}
  a:hover{ color:$link-hover;}
  a:active{ color:$link-hover;}
}


// Status Lights ========================================================
// Are in _sa-rag-status




// Doc Lists ======================================================
// Used in Dashboard/Support Docs

.doc-list{ 
  margin-bottom:0px;
}
.doc-list .title{
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  border-bottom:1px solid $bodytext;
  padding-bottom:5px;
  margin-bottom:5px;
  border-top:1px solid $bodytext;
  padding-top:5px;
  margin-top:5px;
}
.doc-list .title:first-of-type{
  border-top:none;
  padding-top:0px;
  margin-top:0px;
}
.doc-list .link{
  border-bottom:1px solid $grey06;
  padding-bottom:5px;
  margin-bottom:5px;
}
.panel-body .doc-list .link{
  border-bottom-color: white;
}


// Notices ========================================================
// Used on Dashboard/Notifications

.notifications .date {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  background: $grey16;
  color:white;
  padding: 3px 10px;
  margin: 10px -3px 8px -3px;
  border-radius:20px;
}

.notifications .time {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  border-top: 1px solid $grey06;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.notifications .time:first-of-type{
  border-top: none;
  padding-top: 0px;
}

.panel-body .notifications .time{
  border-top-color: white;
}

.panel-body .notifications:last-child {
  margin-bottom:-15px;
}
.notifications ul{ padding-left:10px; }




// Images adjustments ================================================
.doc-covers{
    margin-left:-8px;
    margin-right:-8px;
  }

img.user-guide-cover{
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.step-by-step{
  padding-left:5px;
  padding-right:3px;
  padding-bottom:0px;
  img{ 
  width: 100%;
  }
}


// Messages ===========================================

.messages{

}

.messages h3{
  padding-bottom:10px;
  border-bottom: 1px solid $grey06;
}

 .messages .panel-heading h3{
  padding-bottom:0px;
  border-bottom: none;
}

.message-group{
  border-bottom: 1px solid $grey06;
}
.panel-body .message-group{
  border-bottom-color: white;
}
.message-group:last-of-type{
  border-bottom: 1px solid transparent;
}

.message{
  position: relative;
  border-bottom: 1px solid $grey06;
}
.panel-body .message{
  border-bottom: 1px solid white;
}

.message:last-of-type{
  border-bottom: 1px solid transparent;
}

.message h4{ color: $admin;}
.admin-db .message h4{ color: $text;}

.message h6{ 
  margin-top:-8px;
  padding-bottom:2px;
}
.message p{ }

.messages-collapse{
  a:link{ color:$text;}
}




//  UI Components ==============================================================
//  These should only be need for use in the UI pages.

// .ui-btn{ margin-bottom:10px;}

.ui.title{margin-top:-10px;}

.ui-sard-nav-tabs{
  position:absolute;
  left:0px;
  width: 100%;
  min-width: 100%;
  margin-bottom:60px;
}

.row.ui{
  margin-left:0px;
  margin-right:0px;
  margin-bottom:20px;
}

.ui-navbar{
  // margin-top:-40px;
  // background-color:red;
  .navbar{
    // margin-bottom:0!important;
  }
}



