

// SARD Components

// These are any SARD specific componants 

// Sections ===================================================================


// This is a SARD Add on to the Navbar
@media (min-width: 768px) {
  .settings-tab{float:right;}
}

#top{
  min-height:50px;
}

.sa-top-section{ 
}

.sa-header{
  background-color:$grey02;
  padding-bottom:30px;
  margin-bottom:20px;
}

.sa-main-section{
  padding-top: 20px; 
  margin-bottom: 60px;
  height:100%;
  min-height:100%;
}

.sa-main-content{  // OPTIONAL
  height:100%;
  min-height:100%;
 }


.new-footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color:$grey18;
  color: $client-colour;
  height:40px;
  padding: 10px 0px 0px 0px;
  a{color:white;}
}

.new-footer .text-left{ padding-left:0px;}
.new-footer .text-right{ padding-right:0px;}


.sa-main-column{ 
  // margin-bottom:60px;
} // If creating a 2 column layout like dashboard use this.

.sa-right-column{ 
padding-left:16px;
// margin-bottom:60px;
} // If creating a 2 column layout like dashboard use this.

.sa-left-column{ 
padding-right:16px;
// margin-bottom:60px;
} // If creating a 2 column layout like dashboard use this.

// SARD Incidentals =================================================================


.topButton {
    margin-top:-10px;
  padding:0;
    background-image: url("../graphics/flower_sm_wht.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    // width:40px;
    height:40px;
}



.row-grey{ 
  background-color:$grey10;
  padding-left: 20px;
  padding-right: 20px;
}

.row-turq{ 
  background-color:$turq;
  padding-left: 20px;
  padding-right: 20px;
}

// Only display element on Mobile ==================
@media only screen and (min-width : 992px) {
  .mobile-only{display:none} 
}

// Hide element on Mobile ==========================
@media only screen and (max-width : 991px) {
  .mobile-hide{display:none} 
}


// Various sapcings ================================

.indent{
  // padding-left:15px;
  // padding-right:15px;
}

.no-indent{
  padding-left:0px;
  padding-right:0px;
}

.row-indent{
  padding-left: 15px;
  padding-right: 15px;
}
.space-above{ margin-top:30px;}
.space-below{ margin-bottom:30px;}
.vertical-spaced{ margin-top:20px; margin-bottom:20px;}

.fast-links{ margin-top:20px; margin-bottom:30px;}


// Top Nav =====================================================================
// You will only need this if we re-introduce the top nav section

// .sa-top-nav {
//   .navbar{
//     margin-bottom: 0px;
//   }

//   .navbar-brand{
//     padding: 15px 10px;
//   }

//   /* Extra Small Devices, Phones */ 
//   @media only screen and (max-width : 767px) {
//     .navbar-form{
//       margin-left:  0px;
//       margin-right:  0px;
//       padding:      0px 15px;
//       border-top:   0px;
//       border-bottom:   0px;
//       box-shadow: none;
//     }

//     .navbar-nav{
//       margin: 5px 0px 0px 0px;
//     }
//   }

//   /* Small Devices, Tablets */
//   @media only screen and (min-width : 768px) {
//     .nav > li > a{
//       padding:      15px 0px;
//     }

//   }
// } // End top-nav



//  Perforation dots ==============================================================

.divide-rule{
  border-top: 1px solid $grey08;
  margin:20px 10px 20px 10px;
}

.perf {
      background-image: url("../graphics/dot_grey04.png");
      background-repeat: repeat-x;
      height: 16px;
      background-position: -4px 0px;
      margin: 15px 0px 25px 0px;
    }

 .row-top-perfs:before{
    display: block;
    height: 16px;
    margin-left: -20px;
    margin-right: -20px;
    background: url('../graphics/dot_white.png');
    background-repeat: repeat-x;
    background-position: -4px -8px;
  }

  .row-bottom-perfs:after{
    display: block;
    height: 16px;
    margin-left: -20px;
    margin-right: -20px;
    background: url('../graphics/dot_white.png');
    background-repeat: repeat-x;
    background-position: -4px 8px;
  }


  .perf-grey06 {
    background-image: url("../graphics/dot_grey06.png");
    background-repeat: repeat-x;
    height: 16px;
    background-position: -4px 0px;
    margin: 15px -20px 25px -20px;
  }

  .perf-wht {
    background-image: url("../graphics/dot_white.png");
    background-repeat: repeat-x;
    height: 16px;
    background-position: -4px 0px;
    margin: 15px -20px 25px -20px;
  }

  .divide-space {
    height: 40px;
    background:none;
  }



  .tab-content .perf {
    margin: 40px -30px 30px -30px;
    // background-image: url("../graphics/dot_grey06.png");
  }


  .panel{
    >.perf-wht{
        background-image: url("../graphics/dot_white.png");
        background-repeat: repeat-x;
        height: 16px;
        background-position: -4px 0px;
        margin: 0px 0px 0px 0px;
      }

    >.perf-grey{
      background-image: url("../graphics/dot_grey04.png");
      background-repeat: repeat-x;
      height: 16px;
      background-position: -4px 0px;
      margin: 0px 0px 0px 0px;
    }
  }


//  Panels ==============================================================
//  All panel styles are in _bs-overrides.scss
//  =====================================================================

//  Tables ==============================================================
//  All tables styles are in _bs-overrides.scss
//  =====================================================================

//  Buttons ==============================================================
//  All button styles are in _bs-overrides.scss
//  =====================================================================



// Notices ===============================================================
// Are in Typography

// Status Lights ========================================================
// Are in Typography

// List Items ========================================================
// Are in Typography


// Images adjustments ================================================
.row .doc-covers{
  padding: 0px 8px;
}
img.user-guide-cover{
  width: 100%;
  // max-width:270px;
  margin-top:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.step-by-step{
  padding-left:5px;
  padding-right:3px;
  padding-bottom:0px;
  img{ 
  width: 100%;
  }
}

// Texture Backgrounds ==================================================

.texture-paper{ 
  background-image:url(../textures/natural-paper.png);
  } // www.transparenttextures.com 


//  UI Components ==============================================================
//  These should only be need for use in the UI pages.

// .ui-btn{ margin-bottom:10px;}

.ui.title{margin-top:-10px;}

.ui-sard-nav-tabs{
  position:absolute;
  left:0px;
  width: 100%;
  min-width: 100%;
  margin-bottom:60px;

}



