// sa-tabs =====================================
// This is used for the Appraisal pages


$tab-colour:        $grey04;
$tab-colour-hover:  $grey06;
$tab-list-colour:   $grey02;
$tab-list-hover:    $grey08;
$tab-pane-colour:   white;
$tab-text:          $grey18;
$tab-shadow:        $grey10;



// everything should be contained in the .sa-tabs tag

.sa-tabs:first-of-type{
    margin-top:0px;
  }

.sa-tabs{
    margin-top:30px;

    // horzontal tabs =================================================

    .horizontal-tabs{  // This places the rule full width of the window
      border-bottom: 1px solid $client-colour;
    }

    .h-tab-wrapper { // This keeps the tabs within a conatiner
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      height:100%;
      min-height:100%;
    }
    @media (min-width: 768px) {
      .h-tab-wrapper {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .h-tab-wrapper {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .h-tab-wrapper {
        width: 1170px;
      }
    }

    .nav-tabs {
      border: 0px;
      padding:0px;
    }
    .nav-tabs > li {
      float: left;
    }
    
    .nav-tabs > li > a {
      border: 1px solid $tab-colour inset;
      border-radius: 0px 0px 0 0;
      border-bottom-color:$client-colour;
      height:50px;
      min-height:50px;
      background-color:$tab-colour;
      color: $tab-text;
    }

    // tab spacing
    // http://stackoverflow.com/questions/16906642/twitter-bootstrap-tabs-how-to-increase-spacing-between-tabs
    .nav-tabs > li > a {
      margin-left:5px;
      margin-right:5px;
    }

    .nav-tabs > li > a:hover {
      background-color:$tab-colour-hover;
    }

    .nav-tabs .active{
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      border-color:$client-colour;
      border-bottom-color:white;
      background-color:white;
    }

    
    // nav-tabs.nav-justified =================================

    .nav-tabs.nav-justified {
      width: 100%;
      padding:0px;
      
    }

    .nav-tabs.nav-justified:last-of-type{
      margin-bottom:-1px;
    }

    .nav-tabs.nav-justified > li {
      float: none;
      margin-bottom:10px;
    }

    .nav-tabs.nav-justified > li:last-of-type > a {
      float: none;
      margin-bottom:-10px;
      // top:1px;
      // border-bottom:1px solid white;

    }

    .nav-tabs.nav-justified > li > a {
      text-align: left;
      border-bottom:none;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified{
      }
      .nav-tabs.nav-justified > li {
        width: 1%;
      }
      .nav-tabs.nav-justified > li > a {
        margin-right:5px!important;
      }
    }

    .nav-tabs.nav-justified > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
    
    .nav-tabs.nav-justified > li > a {
      margin-right: 0;
      border-radius: 0px;
      // border-bottom:1px solid $tab-colour;
    }

    .nav-tabs.nav-justified .active{
    }

    .nav-tabs.nav-justified > .active > a{
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      // border-bottom-color:white;
      border-bottom:1px solid $client-colour;
    }

    .nav-tabs.nav-justified > .active:last-of-type > a,
    .nav-tabs.nav-justified > .active:last-of-type  a:hover,
    .nav-tabs.nav-justified > .active:last-of-type > a:focus {
      border-bottom:1px solid white;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified:last-of-type{
      margin-bottom:0px;
    }
      .nav-tabs.nav-justified > li > a {
        border-radius: 0px 0px 0 0;
        margin-bottom:-1px!important;
       border-bottom:1px solid $client-colour;
      }
      .nav-tabs.nav-justified > .active > a,
      .nav-tabs.nav-justified > .active > a:hover,
      .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color:white;
      }
      .nav-tabs.nav-justified > .active:last-of-type > a,
      .nav-tabs.nav-justified > .active:last-of-type  a:hover,
      .nav-tabs.nav-justified > .active:last-of-type > a:focus {
        border-bottom-color:white;
      }
      .nav-tabs.nav-justified > li.active > a,
      .nav-tabs.nav-justified > li.active > a:hover,
      .nav-tabs.nav-justified > li.active > a:focus{
      }

      .nav-tabs.nav-justified > li > a {
      }
    }

} // End sa-tabs

// Tab Contents =====================================

.sa-tabs{

  li p{ // Overrides bootstrap seetings, hopefully
    text-indent:0px;
    line-height:initial;
    margin: initial;
    padding: initial;
  }

  .sa-tab{
    display:block;
    // background-color:$tab-colour;
    padding:0;
    margin:0px;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.25);
  }


  .sa-tab a,
  .sa-tab:hover,
  .sa-tab:focus{
  }

  .active .sa-tab{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .number{
    float:left;
    background:$grey18;
    width:50px;
    min-width:50px;
    height:100%;
    min-height:100%;
    text-align:center;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.100);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.100);
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.100);
  }
  .active .number{
    background:$client-colour;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:49px;
    min-height:49px;
  }
  .number p{
    color:white;
    padding-top:5px;
    font-size:2em;
  }
  .title{
    display:table-cell;
    vertical-align:middle;
    padding-left:5px;
    padding-right:5px;
    position:relative;
    height:48px;
    min-height:48px;
  }

} // End sa-tabs

.sa-tabs{
  .tab-content{
    padding-left:20px;
    padding-right:15px;
  }
  @media (min-width: 768px) {
    .tab-content{
    padding-right:20px;
  }
  }

  .tab-content > .tab-pane {
    display: none;
    border:none;
    background-color:pink;
  }
  .tab-content > .active {
    display: block;
  }

} // End sa-tabs
