// sa-tabs =====================================
// This is used for the Appraisal pages


$tab-colour:        $grey04;
$tab-colour-hover:  $grey06;
$tab-list-colour:   $grey02;
$tab-list-hover:    $grey08;
$tab-pane-colour:   white;
$tab-text:          $grey18;
$tab-shadow:        $grey10;



// everything should be contained in the sa-tabs tag

.sa-tabs{
    margin-top:20px;

    // horzontal tabs =================================================

    .horizontal-tabs{  // This places the rule full width of the window
      border-bottom: 1px solid $client-colour;
    }

    .h-tab-wrapper { // This keeps the tabs within a conatiner
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      // padding-bottom:0px;
      background-color:pink;
    }
    @media (min-width: 768px) {
      .h-tab-wrapper {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .h-tab-wrapper {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .h-tab-wrapper {
        width: 1170px;
      }
    }

    .nav-tabs {
      border: 0px;
      padding:0px;
      // min-height:100%!important;
    }
    .nav-tabs > li {
      float: left;
      // min-height:100%!important;
    }
    
    .nav-tabs > li > a {
      border: 1px solid $tab-colour;
      // background-color: $tab-colour;
      border-radius: 0px 0px 0 0;
      border-bottom-color:$client-colour;
      // height:50px;
      // min-height:50px;
    }

    // tab spacing
    // http://stackoverflow.com/questions/16906642/twitter-bootstrap-tabs-how-to-increase-spacing-between-tabs
    .nav-tabs > li > a {
      margin-left:5px;
      margin-right:5px;
    }

    .nav-tabs > li > a:hover {
      // background-color: $tab-colour-hover;
    }

    .nav-tabs .active{
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      border-color:$client-colour;
      border-bottom-color:white;
      // background-color:white;
    }

    
    // nav-tabs.nav-justified =================================

    .nav-tabs.nav-justified {
      width: 100%;
      padding:0px;
    }

    .nav-tabs.nav-justified > li {
      float: none;
      margin-bottom:10px;
    }

    .nav-tabs.nav-justified > li:last-of-type {
      float: none;
      margin-bottom:-1px;
    }

    .nav-tabs.nav-justified > li > a {
      text-align: left;
      // background-color: $tab-colour;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified{
      }
      .nav-tabs.nav-justified > li {
        // display: table-cell;
        width: 1%;
      }
      .nav-tabs.nav-justified > li > a {
        margin-right:5px!important;
      }
    }

    .nav-tabs.nav-justified > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
    
    .nav-tabs.nav-justified > li > a {
      margin-right: 0;
      border-radius: 0px;
      border-bottom-color:$tab-colour;
    }

    .nav-tabs.nav-justified > li > a:hover {
      // background-color: $tab-colour-hover;
    }

    .nav-tabs.nav-justified .active{
    }

    .nav-tabs.nav-justified > .active > a{
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color:$client-colour;
    }

    .nav-tabs.nav-justified > .active:last-of-type > a,
    .nav-tabs.nav-justified > .active:last-of-type  a:hover,
    .nav-tabs.nav-justified > .active:last-of-type > a:focus {
      border-bottom-color:white;
    }

    @media (min-width: 768px) {
      .nav-tabs.nav-justified > li > a {
        border-radius: 0px 0px 0 0;
        margin-bottom:-1px!important;
        border-bottom-color:$client-colour;
      }
      .nav-tabs.nav-justified > .active > a,
      .nav-tabs.nav-justified > .active > a:hover,
      .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color:white;
      }
      .nav-tabs.nav-justified > .active:last-of-type > a,
      .nav-tabs.nav-justified > .active:last-of-type  a:hover,
      .nav-tabs.nav-justified > .active:last-of-type > a:focus {
        border-bottom-color:white;
      }
      .nav-tabs.nav-justified > li.active > a,
      .nav-tabs.nav-justified > li.active > a:hover,
      .nav-tabs.nav-justified > li.active > a:focus{
      }

      .nav-tabs.nav-justified > li > a {
      }
    }

} // End sa-tabs

// Tab Contents =====================================

.sa-tabs{
  .sa-tab{
    background-color:$tab-colour;
    min-height:50px;
    padding:0;
    margin:0px;
    // z-index:4000!important;
    height:50px;
    min-height:50px;
    // text-align:left!important;
  }


  .sa-tab a,
  .sa-tab:hover,
  .sa-tab:focus{
    background-color:$tab-colour-hover;
  }

  .active .sa-tab{
    background-color:white;
  }

  // .sa-tab{
  //   .tab-content{
  //     // background-color:red!important;
  //     display:inline;
  //     // padding:0;
  //     // height:100%;
  //     // min-height:100%;
  //   }
  //   .number{
  //     // display:table-cell;
  //     float:left;
  //     background-color:$grey18!important;
  //     padding:5px 2px 0px 2px;
  //     margin:0px;
  //     width:50px;
  //     min-width:50px;
  //     color:white;
  //     font-size:2em;
  //     // line-height:0.5em;
  //     text-align:center;
  //     height:100%;
  //     min-height:100%;
  //     clear:both;
  //   }
  //   .title{
  //     // float:right;
  //     background-color:red!important;
  //     // margin:0!important;
  //     // margin-top:10px!important;
  //     padding-top:10px;
  //     // display:table-cell; 
  //     display:inline;
  //     // vertical-align:middle;
  //     // width:100%;
  //     // min-width:100%;
  //     // height:50px;
  //     // min-height:50px;
  //   }
  // }

  .number{
    // display:inline-block;
    display:table-cell;
    float:left;
    background:$grey18;
    // padding:5px 2px 0px 2px;

    width:50px;
    min-width:50px;
    height:100%;
    min-height:100%;
    text-align:center;
  }
  .number p{
    color:white;
    padding-top:5px;
    font-size:2em;
  }
  .title{
    display:block;
    // display:inline-block;
    // display:table-cell;
    background-color:red!important;
    // text-align:left!important;
    // margin-left:60px;
    // padding:5px 10px 0px 10px;
    // vertical-align:middle;
    // width:100%;
    // min-width:10%;
    // margin-top:-5px;
    height:100%;
    min-height:100%;
    
  }
  .title p{
    text-align:left;
    text-indent:0px;
    // margin:10px 10px 0px 10px;
    // padding:5px 10px 0px 10px;
  }

} // End sa-tabs


