// sa-nav-tabs =====================================
// Used globaly


$tab-colour:              $grey04;
$tab-colour-active:       $grey16;
$tab-colour-hover:        $grey06;
$tab-list-colour:         $grey02;
$tab-list-hover:          $grey08;
$tab-pane-colour:         white;
$tab-text:                $grey18;
$tab-shadow:              $grey10;
$tab-number-bg:           $grey12;
$tab-number-bg-active:    $grey18;
// $v-tab-number-bg:           $grey16;
// $v-tab-number-bg-active:    $grey18;


// Structure ========================================

.sa-tabs {
}

.sa-tab-container {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 10px solid $tab-colour-active;
}
@media (min-width: 768px) {
  .sa-tab-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .sa-tab-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .sa-tab-container {
    width: 1170px;
  }
}
.sa-tab-container-fluid {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 10px solid $tab-colour-active;
}

.sa-tab-wrapper, .sa-tab-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .sa-tab-wrapper, .sa-tab-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .sa-tab-wrapper, .sa-tab-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .sa-tab-wrapper, .sa-tab-content {
    width: 1170px;
  }
}


// Tabs ===========================================
.sa-tabs.nav-tabs {
  border:0;
  margin-left:-4px;margin-right:-4px; // Adjust for tab spacing
  width: calc(100% + 8px); // Adjust for tab spacing
}

.sa-tabs.nav-tabs > li {
  margin-top:5px;
  margin-bottom: 0px;
}

.sa-tabs.nav-tabs > li > a{
  background-color:$tab-colour;
  color:$tab-text;
  border-radius: 0;
  border: 0;
  min-height:50px;
  margin-left:4px;margin-right:4px; // This increases the space between tabs
  padding:0;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.30);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.30);
}

.sa-tabs.nav-tabs > li > a:hover{
  background-color:$tab-colour-hover;
}

.sa-tabs.nav-tabs > li.active > a,
.sa-tabs.nav-tabs > li.active > a:hover,
.sa-tabs.nav-tabs > li.active > a:focus{
  background-color:$tab-colour-active;
  color:white;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.tab-number{
  background-color:$tab-number-bg;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.20);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.20);
}

.active .tab-number{
  background-color: $tab-number-bg-active;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



// Solving the Vertical align problem  1st Atempt ====================

.sa-tab{
  display: table;
}

.sa-tab .tab-number{
  display: table-cell;
  vertical-align: middle;
  max-height:50px;
  height:50px;
  min-width:50px;
  float:left;
  font-size:2em;
  padding:0;
  line-height:1.75em;
  text-align:center;
  color:white;
}

.sa-tab .tab-title{
  display: table-cell;
  vertical-align: middle;
  max-height:50px;
  height:50px;
  padding: 5px 8px;
  font-size:1em;
  line-height:1.25em;

}

.sa-tab .title-lg{
  font-family: 'robotolight', Helvetica, Arial, Sans-serif;
  font-size:2em;
  line-height:1em;
}

.sa-tab .title-md{
  font-size:1.5em;
}




// Justified Tabs =====================

// .sa-tab-container .sa-tabs.nav-tabs.nav-justified {
// }

// .sa-tabs.nav-tabs.nav-justified {

// }

// .sa-tabs.nav-tabs.nav-justified > li {
// }

// .sa-tabs.nav-tabs.nav-justified > li > a {
// }

// .sa-tabs.nav-tabs.nav-justified > li > a:hover {
// }

// .sa-tabs.nav-tabs.nav-justified > .active > a,
// .sa-tabs.nav-tabs.nav-justified > .active > a:hover,
// .sa-tabs.nav-tabs.nav-justified > .active > a:focus {
// }

// .sa-tabs.nav-tabs.nav-justified .tab-number {
// }

// .sa-tabs.nav-tabs.nav-justified .tab-title {
// }


// This is an override for the tabs that sit within sa-tab-container, to make it same width as page with no overhang.
// I may remove this or use it later for nested tabs

.sa-tab-container .sa-tab-wrapper {
  padding-left:0;
  padding-right:0;
}

@media (min-width: 768px) {
  .sa-tab-container {
    width: 718px;
  }
  .sa-tab-container .sa-tab-wrapper{
    width: 718px;
  }
}
@media (min-width: 992px) {
  .sa-tab-container {
    width: 938px;
  }
  .sa-tab-container .sa-tab-wrapper{
    width: 938px;
  }
}
@media (min-width: 1200px) {
  .sa-tab-container {
    width: 1154px;
  }
  .sa-tab-container .sa-tab-wrapper{
    width: 1154px;
  }
}

.tab-pane{
  padding-top:16px;
}


// VERTICAL Tabs ===================================================================================================

.vertical-tabs{
  display: flex; // Fix to make Tab Content and Tab Wrapper always be 100% Height
}

.vertical-tabs .sa-tab-wrapper{
   @include make-xs-column(4);
   @include make-sm-column(3);
   padding:0;
   padding-right:8px;
  }

.vertical-tabs .sa-tab-content{
   @include make-xs-column(8);
   @include make-sm-column(9);
   padding:0 16px;
   margin:0;
   border:1px solid $tab-colour-active;
   border-left:10px solid $tab-colour-active;
}

.vertical-tabs .tab-intro{
    padding-top:0px;
    padding-right:20px;
  }
.vertical-tabs .sa-tabs.nav-tabs{
  margin:0;
  min-height:50px;
  height:50px;

}
.vertical-tabs .sa-tabs.nav-tabs > li {
  float: none;
  padding:0;
  margin:0;
  margin-bottom: 10px;
}

.vertical-tabs .sa-tabs.nav-tabs > li > a{
  -webkit-box-shadow: inset -6px 0px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -6px 0px 0px 0px rgba(0,0,0,0.25);
  box-shadow: inset -6px 0px 0px 0px rgba(0,0,0,0.25);
  margin:0;
}

.vertical-tabs .sa-tabs.nav-tabs  > li.active > a{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vertical-tabs .sa-tabs.nav-tabs .tab-number {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// .vertical-tabs .sa-tabs.nav-tabs .tab-title{
// }




// Tab Content ======================================================
.sa-tab-content > .tab-pane {
  display: none;
}
.sa-tab-content > .active {
  display: block;
}

// Nested tabs ======================================================

.vertical-tabs.nested{
  // padding:0;
  margin-left:-16px;
}

.nested .tab-number{
  background-color:$tab-number-bg;
}

.nested .active .tab-number{
  background-color:$tab-number-bg-active;
}