// // SARD Navbar

// // These are taken from bootstrap-example-code.css and amended


.navbar{
  border-radius: 0px;
}
/* Over Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .navbar-collapse{
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media (min-width: 768px){
  .navbar-right {
  }
}

// Navbar Default ======================================

$navBG          : darken($client-colour, 10%);
$navHover       : darken($client-colour, 15%);
$navActive      : darken($client-colour, 20%);
$navText        : white;
$navDropdownBG  : darken($client-colour, 15%);



/* navbar */
.navbar-default {
  background-color: $navBG;
  border:none;
}
/* Title */
.navbar-brand {
  color: $navText;
  padding: 0px 15px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navText;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: $navText;
  padding-left: 10px;
  padding-right: 10px;
}
      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus {
        color: $navText;
        background-color: $navHover;
      }
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {
        background-color: $navActive;
      }
      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {
        color: $navText;
        background-color: $navActive;
      }
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}


// dropdown -------------------------------------------------------------
.navbar-default .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color:$navDropdownBG;
  border:none;
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $navActive;
  color: $navText;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: $navText;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navText;
  background-color: $navActive;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navText;
  background-color: $navActive;
}

// Mobile version -------------------------------------------------------
.navbar-default .navbar-toggle {
  border:none;
  background-color:$client-colour;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $navHover;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $navText;
}

// Small screens ===================================
@media (max-width: 767px) {

  .navbar-nav{
    margin:5px -10px;
  }
  .navbar-default .navbar-nav > li > a {
      padding: 5px 10px;
      margin-top:0px;
    }
    .navbar-default .navbar-nav > li:last-child > a{
      padding-bottom:10px;
    }
}



// Admin Navbar colours ================================================

$admin-navbar        : $grey16;
$adminNavBG          : darken($admin-navbar, 10%);
$adminNavHover       : darken($admin-navbar, 15%);
$adminNavActive      : darken($admin-navbar, 20%);
$adminNavDropdownBG  : darken($admin-navbar, 15%);


/* navbar */
.navbar-admin {
  background-color: $adminNavBG;
  border:none;
}

.navbar-admin .navbar-brand:hover,
.navbar-admin .navbar-brand:focus {
  color: $navText;
}
/* Link */
.navbar-admin .navbar-nav > li > a {
  color: $navText;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-admin .navbar-nav > li > a:hover,
.navbar-admin .navbar-nav > li > a:focus {
  color: $navText;
  background-color: $adminNavHover;
}
.navbar-admin .navbar-nav > .active > a,
.navbar-admin .navbar-nav > .active > a:hover,
.navbar-admin .navbar-nav > .active > a:focus {
  background-color: $adminNavActive;
}
.navbar-admin .navbar-nav > .open > a,
.navbar-admin .navbar-nav > .open > a:hover,
.navbar-admin .navbar-nav > .open > a:focus {
  color: $navText;
  background-color: $adminNavActive;
}
/* Caret */
.navbar-admin .navbar-nav > .dropdown > a .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}
.navbar-admin .navbar-nav > .dropdown > a:hover .caret,
.navbar-admin .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}
.navbar-admin .navbar-nav > .open > a .caret,
.navbar-admin .navbar-nav > .open > a:hover .caret,
.navbar-admin .navbar-nav > .open > a:focus .caret {
  border-top-color: $navText;
  border-bottom-color: $navText;
}


// dropdown -------------------------------------------------------------
.navbar-admin .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color:$adminNavDropdownBG;
  border:none;
  color: $navText;
}

.navbar-admin .navbar-nav .dropdown-menu > li > a {
  color: $navText;
}

.navbar-admin .navbar-nav .dropdown-menu > li > a:hover,
.navbar-admin .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $adminNavActive;
  color: $navText;
}

.navbar-admin .navbar-nav .open .dropdown-menu > li > a {
  color: $navText;
}
.navbar-admin .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-admin .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navText;
  background-color: $adminNavActive;
}
.navbar-admin .navbar-nav .open .dropdown-menu > .active > a,
.navbar-admin .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-admin .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navText;
  background-color: $adminNavActive;
}

// Mobile version -------------------------------------------------------
.navbar-admin .navbar-toggle {
  border:none;
  background-color:$admin-navbar;
}
.navbar-admin .navbar-toggle:hover,
.navbar-admin .navbar-toggle:focus {
  background-color: $adminNavHover;
}
.navbar-admin .navbar-toggle .icon-bar {
  background-color: $navText;
}

// Small screens ===================================
@media (max-width: 767px) {
  .navbar-admin .navbar-nav > li > a {
      padding: 5px 10px;
      margin-top:0px;
    }
    .navbar-admin .navbar-nav > li:last-child > a{
      padding-bottom:10px;
    }
}


// // Navbar Second =======================================================

$second-navbar        : $admin-colour;
$secondNavBG          : darken($second-navbar, 10%);
$secondNavHover       : darken($second-navbar, 15%);
$secondNavActive      : darken($second-navbar, 20%);
$secondNavDropdownBG  : darken($second-navbar, 15%);

#second-navbar{
  min-height:40px!important;
  padding-top:10px;
  padding-top:10px;
  z-index:900;
}

#second-navbar .container{
  padding-left:5px;
  padding-right:5px;
}

#second-navbar form{
    margin:0;
    margin-top:-4px;
    padding-right:0;
  }
#second-navbar form .input-group > .form-control{
    height:29px;
  }


.navbar-second {
  background-color: $secondNavBG;
  border:none; // Added
  margin-bottom:0;
}

.navbar-second .navbar-text {
  color: $navText;
}
.navbar-second .navbar-nav > li > a {
  color: $navText;
  padding: 10px;
  margin-top:-10px;
}
.navbar-second .navbar-nav > li > a:hover,
.navbar-second .navbar-nav > li > a:focus {
  color: $navText;
  background-color: $secondNavHover;
}
.navbar-second .navbar-nav > .active > a,
.navbar-second .navbar-nav > .active > a:hover,
.navbar-second .navbar-nav > .active > a:focus {
  color: $navText;
  background-color: $secondNavHover;
}

.navbar-second .navbar-nav > .open > a,
.navbar-second .navbar-nav > .open > a:hover,
.navbar-second .navbar-nav > .open > a:focus {
  background-color: $secondNavActive ;
  color: $navText;
}

.navbar-second .navbar-collapse,
.navbar-second .navbar-form {
  border-color: $second-navbar ;
}

// dropdown -------------------------------------------------------------

.navbar-second .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color:$secondNavDropdownBG;
  border:none;
  color: $navText;
}

.navbar-second .navbar-nav .dropdown-menu > li > a {
  color: $navText;
}

.navbar-second .navbar-nav .dropdown-menu > li > a:hover,
.navbar-second .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $secondNavActive;
  color: $navText;
}

.navbar-second .navbar-nav .open .dropdown-menu > li > a {
  color: $navText;
}
.navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navText;
  background-color: $secondNavActive;
}
.navbar-second .navbar-nav .open .dropdown-menu > .active > a,
.navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navText;
  background-color: $secondNavActive;
}



// END dropdown

// Small screens --------------------------------------------------------
@media (max-width: 767px) {



    #second-navbar .container{
      // padding-left:25px;
      // padding-right:15px;
    }

    #second-navbar form{
      border:none;
      padding-bottom:10px;
    }

    #second-navbar .navbar-nav{
      margin:5px 0px;
    }

    .navbar-second .navbar-nav > li > a {
      padding: 5px 10px;
      margin-top:0px;
    }
    .navbar-second .navbar-nav > li:last-child > a{
      padding-bottom:10px;
    }

    .navbar-second .navbar-nav .open .dropdown-menu > li > a {
      color: $navText;
    }
    .navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
      color: $navText;
      background-color: $secondNavActive;
    }
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: $navText;
      background-color: $secondNavActive;
    }

}
// End small screens

// InPage Navbar ===========================================================

$inpage-navbar        : $grey16;
$inpageNavBG          : darken($inpage-navbar, 10%);
$inpageNavHover       : darken($inpage-navbar, 15%);
$inpageNavActive      : darken($inpage-navbar, 20%);
$inpageNavDropdownBG  : darken($inpage-navbar, 15%);

.navbar-inpage{
  min-height:40px!important;
  padding-top:10px;
  padding-top:10px;
  top:50px;
  z-index:900;
}

.navbar-inpage .container{
  padding-left:5px;
  padding-right:5px;
}

.navbar-inpage form{
    margin:0;
    margin-top:-4px;
    padding-right:0;
  }
.navbar-inpage form .input-group > .form-control{
    height:29px;
  }


.navbar-inpage {
  background-color: $inpageNavBG;
  border:none; // Added
  margin-bottom:0;
}

.navbar-inpage .navbar-text {
  color: $navText;
}
.navbar-inpage .navbar-nav > li > a {
  color: $navText;
  padding: 10px;
  margin-top:-10px;
}
.navbar-inpage .navbar-nav > li > a:hover,
.navbar-inpage .navbar-nav > li > a:focus {
  color: $navText;
  background-color: $inpageNavHover;
}
.navbar-inpage .navbar-nav > .active > a,
.navbar-inpage .navbar-nav > .active > a:hover,
.navbar-inpage .navbar-nav > .active > a:focus {
  color: $navText;
  background-color: $inpageNavHover;
}

.navbar-inpage .navbar-nav > .open > a,
.navbar-inpage .navbar-nav > .open > a:hover,
.navbar-inpage .navbar-nav > .open > a:focus {
  background-color: $inpageNavActive ;
  color: $navText;
}

.navbar-inpage .navbar-collapse,
.navbar-inpage .navbar-form {
  border-color: $inpage-navbar ;
}

// dropdown -------------------------------------------------------------


.navbar-inpage .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color:$inpageNavDropdownBG;
  border:none;
  color: $navText;
}

.navbar-inpage .navbar-nav .dropdown-menu > li > a {
  color: $navText;
}

.navbar-inpage .navbar-nav .dropdown-menu > li > a:hover,
.navbar-inpage .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $inpageNavActive;
  color: $navText;
}

.navbar-inpage .navbar-nav .open .dropdown-menu > li > a {
  color: $navText;
}
.navbar-inpage .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inpage .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navText;
  background-color: $inpageNavActive;
}
.navbar-inpage .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inpage .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inpage .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navText;
  background-color: $inpageNavActive;
}



// END dropdown

// Small screens --------------------------------------------------------
@media (max-width: 767px) {



    .navbar-inpage .container{
      // padding-left:25px;
      // padding-right:15px;
    }

    .navbar-inpage form{
      border:none;
      padding-bottom:10px;
    }

    .navbar-inpage .navbar-nav{
      margin:5px 0px;
    }

    .navbar-inpage .navbar-nav > li > a {
      padding: 5px 10px;
      margin-top:0px;
    }
    .navbar-inpage .navbar-nav > li:last-child > a{
      padding-bottom:10px;
    }

    .navbar-inpage .navbar-nav .open .dropdown-menu > li > a {
      color: $navText;
    }
    .navbar-inpage .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inpage .navbar-nav .open .dropdown-menu > li > a:focus {
      color: $navText;
      background-color: $inpageNavActive;
    }
    .navbar-inpage .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inpage .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inpage .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: $navText;
      background-color: $inpageNavActive;
    }

}
// End small screens