// BS Tables Overrides 

.table h3{
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
}

.table p { // This adjust the spacing and endents of multi line links in a table
  margin-bottom:0.5em;
  line-height: 1.3em;
}
  
// Bootstrap overrides ------------------
// Anything commented out means no change

.table{
  padding-left:10px;
  padding-right:10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 8px;
  // line-height: 1.42857143;
  // vertical-align: top;
  border-top: 1px solid $grey10;
  line-height:1.3em;
}

.table > thead > tr > th {
  // vertical-align: bottom;
  border-bottom: 2px solid $grey10;
}

.table-bordered {
  border: 1px solid $grey10;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid $grey10;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $grey02;
}
.table-hover > tbody > tr:hover {
  background-color: $grey02;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: $active;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: darken($active, 10%);
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: $success;
  color:$grey18;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: darken($success, 3%);
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: $info;
  color:$grey18;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: darken($info, 5%);
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: $warning;
  color:$grey18;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: darken($warning, 3%);
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: $danger;
  color:$grey18;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: darken($danger, 3%);
}





// =================================================================================
// SA Table Styles =================================================================
 

// Tables with SARD styles

.table-default{
  background-color:$panelBaseGrey;
  thead {background-color: darken($grey08, 0%);}
  thead > tr > th { border-bottom: none; }
  tbody > tr > td{ border-top: 1px solid white;}
  .top-row{ border-top: none;}
  tfoot {background-color: darken($grey12, 0%);}
  tfoot > tr > th { border-top: none; color:white;}
  &.table-hover > tbody > tr:hover {background-color: darken($panelBaseGrey, 5%);}
}

.table-info{
  background-color:$info;
  thead {background-color: darken($info, 10%); color:white;}
  thead > tr > th { border-bottom: none; }
  tbody > tr > td{ border-top: 1px solid white;}
  .top-row{ border-top: none;}
  tfoot {background-color: darken($info, 20%);}
  tfoot > tr > th { border-top: none; color:white;}
  &.table-hover > tbody > tr:hover {background-color: darken($info, 5%);}
}



// Tables in Panels --------------------------
.panel{
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 8px 0px;
    border-top: 1px solid white;
  }

  .table > thead > tr > th {
    padding: 8px 0px;
    border-bottom: 2px solid white;
  }

  caption{ color: black;}
}



// SARD fixes ---------------------------
.panel-table{
  padding-left:0px;
  padding-right:0px;
}

.panel-table {
  .table tbody tr td , 
  .table thead tr th ,
  .table tfoot tr th ,
  .table tfoot tr td ,
  .table caption{ 
  padding: 8px 15px;}
}

.panel .table{ margin-bottom:-15px;}

.panel-white{
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    // padding: 8px;
    // line-height: 1.42857143;
    // vertical-align: top;
    border-top: 1px solid $grey08;
}

.table > thead > tr > th {
  // vertical-align: bottom;
  border-bottom: 2px solid $grey08;
}
}

.panel-MRv{
  .table-hover > tbody > tr:hover {background-color: darken($MRv, 5%);}
}
.panel-NRv{
  .table-hover > tbody > tr:hover {background-color: darken($NRv, 5%);}
}
.panel-360{
  .table-hover > tbody > tr:hover {background-color: darken($sa-360, 5%);}
}
.panel-eLeave{
  .table-hover > tbody > tr:hover {background-color: darken($eLeave, 5%);}
}
.panel-A4A{
  .table-hover > tbody > tr:hover {background-color: darken($A4A, 5%);}
}
.panel-JPL{
  .table-hover > tbody > tr:hover {background-color: darken($JPL, 5%);}
}
.panel-eRo{
  .table-hover > tbody > tr:hover {background-color: darken($eRo, 5%);}
}
.panel-CPL{
  .table-hover > tbody > tr:hover {background-color: darken($CPL, 5%);}
}

.panel-default{
  .table-hover > tbody > tr:hover {background-color: $grey04;}
}
.panel-primary{
  .table-hover > tbody > tr:hover {background-color: darken($turq, 5%);}
}
.panel-success{
  .table-hover > tbody > tr:hover {background-color: darken($success, 5%);}
}
.panel-info{
  .table-hover > tbody > tr:hover {background-color: darken($info, 5%);}
}
.panel-warning{
  .table-hover > tbody > tr:hover {background-color: darken($warning, 5%);}
}
.panel-danger{
  .table-hover > tbody > tr:hover {background-color: darken($danger, 5%);}
}

// Condensed Tables ================================

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding-top: 5px;
  padding-bottom: 5px;
}


// Table column variations - Use these within the td to adjust it's width.
// Table column widths must add up to 100% in total, or leave columns empty and it will fill to fit.
// You should only need to apply this to the top table head or table cell in a column.
.tcol-66 { width:66%; } 
.tcol-50 { width:50%; }
.tcol-45 { width:45%; }
.tcol-41 { width:41%; }
.tcol-40 { width:40%; }
.tcol-39 { width:39%; }
.tcol-33 { width:33%; }
.tcol-30 { width:30%; }
.tcol-25 { width:25%; }
.tcol-20 { width:20%; }
.tcol-15 { width:15%; }
.tcol-14 { width:14%; }
.tcol-10 { width:10%; }
.tcol-5 { width:5%; }

// These are fixed variations on the above
.tcol-fixed-50 { width:50px; }
.tcol-fixed-5 { width:5px; }



// Clickable Table Cell Styles =======================

.rota-weeks{
  // display:block;
  // margin: 0px;
  // padding: 0px;
}

.table-clickable{
  margin: 0px;
  margin-top:15px;
  margin-bottom:10px;
  // border-collapse: collapse;
  // width: 100%;
  // border-spacing: 0;
  //   -webkit-border-horizontal-spacing: 0px;
  //   -webkit-border-vertical-spacing: 0px;
}

.table-clickable > tbody > tr > td{
  border:1px solid $grey02;
  background-color: white;
  text-align:center;
  padding: 5px;
  margin: 0px;
}

.table-clickable > tbody > tr > td:hover {
  background-color: $grey08;
}

.table-clickable > tbody > tr > td:active,
.table-clickable > tbody > tr > td:focus,
.table-clickable > tbody > tr > td .selected, {
  background-color: $turq;
  color:white;
  font-weight:bold;
}

// Summary Table Styles ==================================
// Used in Job Planning

.table-summery{
  margin-top:20px;
}

.table-summery > tbody > tr > td{
  border:1px solid $grey08;
  text-align:center;
  background-color: white;
}

.table-summery > thead > tr > th{
  border:1px solid $grey16;
  background-color: $grey16;
  text-align:center;
  color:white;
}

.table-summery > thead > tr > th:first-of-type{
  border-right:1px solid $grey02;
}

// Alternative Summary Table Styles ==================================
.table-summery-alt{
  background-color:white;
  text-align:center;
  border-spacing: 10px 0;
  border-collapse: separate;
  padding:10px;
  border-radius: 10px;
  font-size:1.2em;
}

.table-summery-alt > thead > tr > th{
  text-align:center;
  border:none;
}

.table-summery-alt > tbody > tr > td{
  border:none;
  padding:5px 0px;
  vertical-align:middle;
}

.table-summery-alt > tfoot > tr > td{
  border:none;
  padding:5px 0px;
  vertical-align:middle;
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
}

.table-summery-alt .summary_section,
.table-summery-alt .summary_total_title{
  text-align:left;
}

.table-summery-alt .summary_data,
.table-summery-alt .summary_total{
  font-size:2em;
  line-height:1em;
}

.table-summery-alt .summary_data{
  font-family: 'robotolight', Helvetica, Arial, Sans-serif;
}

.table-summery-alt .summary_total{
  border-top: 1px solid black;
  margin-left:10px;
  margin-right: 10px;
}

// Tables in fieldsets ==========================
fieldset .table-hover > tbody > tr:hover {
  background-color: $grey04;
}



// Sard Tables ==================================

.table.table-sard{
  margin: 0px 0px 10px 0px;
}


.table.table-sard > thead > tr > th,
.table.table-sard > tbody > tr > th,
.table.table-sard > tfoot > tr > th,
.table.table-sard > thead > tr > td,
.table.table-sard > tbody > tr > td,
.table.table-sard > tfoot > tr > td {
  padding-left: 10px;
  padding-right: 10px;
}

.table.table-sard > thead > tr > th:first-child,
.table.table-sard > tbody > tr > th:first-child,
.table.table-sard > tfoot > tr > th:first-child,
.table.table-sard > thead > tr > td:first-child,
.table.table-sard > tbody > tr > td:first-child,
.table.table-sard > tfoot > tr > td:first-child {
  padding-left: 10px;
}

.table.table-sard > thead > tr > th:last-child,
.table.table-sard > tbody > tr > th:last-child,
.table.table-sard > tfoot > tr > th:last-child,
.table.table-sard > thead > tr > td:last-child,
.table.table-sard > tbody > tr > td:last-child,
.table.table-sard > tfoot > tr > td:last-child {
  padding-right: 10px;
}


.table.table-sard > thead > tr > th{
  background-color: $grey08;
  font-family: $font-heavy;
  border-bottom: 1px solid $grey08;
  border-right: 1px solid $grey08;
}

.table.table-sard > tbody{
  border-top: none;
  border: 1px solid $grey04;
}

.table.table-sard > tbody > tr.bordered{
  border-top: 1px solid white;
}

.table.table-sard > tbody > tr > td{
  border-top: none;
}

.table.table-sard > tbody > tr:first-child > td{
  border-top: none;
}

.table.table-sard > thead > tr > th.border,
.table.table-sard > tbody > tr > td.border{
  border-top: 1px solid $grey04;
  border-left: 1px solid $grey04;
  border-bottom: 1px solid $grey04;
  border-right: 1px solid $grey04;
}
.table.table-sard > thead > tr > th:first-child.border,
.table.table-sard > tbody > tr > td:first-child.border{
  border-left: transparent;
}
.table.table-sard > thead > tr > th:last-child.border,
.table.table-sard > tbody > tr > td:last-child.border{
  border-right: transparent;
}

.table.table-sard > thead > tr > th.border-left,
.table.table-sard > tbody > tr > td.border-left{
  border-left: 1px solid $grey04;
}
.table.table-sard > thead > tr > th:first-child.border-left,
.table.table-sard > tbody > tr > td:first-child.border-left{
  border-left: transparent;
}

.table.table-sard > thead > tr > th.border-top,
.table.table-sard > tbody > tr > td.border-top{
  border-top: 1px solid $grey04;
}
.table.table-sard > thead > tr:first-child > th.border-top,
.table.table-sard > tbody > tr:first-child > td.border-top{
  border-top: transparent;
}

.table.table-sard > thead > tr > th.border-right,
.table.table-sard > tbody > tr > td.border-right{
  border-right: 1px solid $grey04;
}
.table.table-sard > thead > tr > th:last-child.border-right,
.table.table-sard > tbody > tr > td:last-child.border-right{
  border-right: transparent;
}

.table.table-sard > thead > tr > th.border-bottom,
.table.table-sard > tbody > tr > td.border-bottom{
  border-bottom: 1px solid $grey04;
}
.table.table-sard > thead > tr:last-child > th.border-bottom,
.table.table-sard > tbody > tr:last-child > td.border-bottom{
  border-bottom: transparent;
}

.table.table-sard > tbody > tr > td.bg-grey{
  background-color: $grey04;
}
.table.table-sard > tbody > tr > td.bg-white{
  background-color: white;
}

.table.table-sard > tbody > tr > td.title{
  background-color: $grey04;
  font-family: $font-bold;
  // padding-left: 15px;
  // padding-right: 15px;
  border-top: none;
}

// Sard Tables IN PANEL ==================================

.panel-body .table.table-sard{
  margin: -8px 0px -15px 0px;
}


.panel-body .table.table-sard > thead > tr > th,
.panel-body .table.table-sard > tbody > tr > th,
.panel-body .table.table-sard > tfoot > tr > th,
.panel-body .table.table-sard > thead > tr > td,
.panel-body .table.table-sard > tbody > tr > td,
.panel-body .table.table-sard > tfoot > tr > td {
  padding-left: 10px;
  padding-right: 10px;
}

.panel-body .table.table-sard > thead > tr > th:first-child,
.panel-body .table.table-sard > tbody > tr > th:first-child,
.panel-body .table.table-sard > tfoot > tr > th:first-child,
.panel-body .table.table-sard > thead > tr > td:first-child,
.panel-body .table.table-sard > tbody > tr > td:first-child,
.panel-body .table.table-sard > tfoot > tr > td:first-child {
  padding-left: 15px;
}

.panel-body .table.table-sard > thead > tr > th:last-child,
.panel-body .table.table-sard > tbody > tr > th:last-child,
.panel-body .table.table-sard > tfoot > tr > th:last-child,
.panel-body .table.table-sard > thead > tr > td:last-child,
.panel-body .table.table-sard > tbody > tr > td:last-child,
.panel-body .table.table-sard > tfoot > tr > td:last-child {
  padding-right: 15px;
}


.panel-body .table.table-sard > thead > tr > th{
  background-color: $grey08;
  font-family: $font-heavy;
  border-bottom: none;
  border-right: none;
}

.panel-body .table.table-sard > tbody{
  border: none;
  // border-top: none;
  border-bottom: 4px solid white;
}

.panel-body .table.table-sard > tbody:last-of-type{
  border: none;
  // border-top: none;
  border-bottom: 0px solid white;
}

.panel-body .table.table-sard > tbody > tr.bordered{
  border-top: 1px solid white;
}

.panel-body .table.table-sard > tbody > tr > td{
  border-top: none;
}

.panel-body .table.table-sard > tbody > tr:first-child > td{
  border-top: none;
}

.panel-body .table.table-sard > thead > tr > th.border,
.panel-body .table.table-sard > tbody > tr > td.border{
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.panel-body .table.table-sard > thead > tr > th:first-child.border,
.panel-body .table.table-sard > tbody > tr > td:first-child.border{
  border-left: transparent;
}
.panel-body .table.table-sard > thead > tr > th:last-child.border,
.panel-body .table.table-sard > tbody > tr > td:last-child.border{
  border-right: transparent;
}

.panel-body .table.table-sard > thead > tr > th.border-left,
.panel-body .table.table-sard > tbody > tr > td.border-left{
  border-left: 1px solid white;
}
.panel-body .table.table-sard > thead > tr > th:first-child.border-left,
.panel-body .table.table-sard > tbody > tr > td:first-child.border-left{
  border-left: transparent;
}

.panel-body .table.table-sard > thead > tr > th.border-top,
.panel-body .table.table-sard > tbody > tr > td.border-top{
  border-top: 1px solid white;
}
.panel-body .table.table-sard > thead > tr:first-child > th.border-top,
.panel-body .table.table-sard > tbody > tr:first-child > td.border-top{
  border-top: transparent;
}

.panel-body .table.table-sard > thead > tr > th.border-right,
.panel-body .table.table-sard > tbody > tr > td.border-right{
  border-right: 1px solid white;
}
.panel-body .table.table-sard > thead > tr > th:last-child.border-right,
.panel-body .table.table-sard > tbody > tr > td:last-child.border-right{
  border-right: transparent;
}

.panel-body .table.table-sard > thead > tr > th.border-bottom,
.panel-body .table.table-sard > tbody > tr > td.border-bottom{
  border-bottom: 1px solid white;
}
.panel-body .table.table-sard > thead > tr:last-child > th.border-bottom,
.panel-body .table.table-sard > tbody > tr:last-child > td.border-bottom{
  border-bottom: transparent;
}

.panel-body .table.table-sard > tbody > tr > td.bg-grey{
  background-color: $grey04;
}
.panel-body .table.table-sard > tbody > tr > td.bg-white{
  background-color: white;
  border: 1px solid white;
}

.panel-body .table.table-sard > tbody > tr > td.title{
  background-color: $grey04;
  font-family: $font-bold;
  border-top: none;
}