// Mega Menu
// http://stackoverflow.com/questions/32094344/how-to-make-full-width-mega-menu-in-bootstrap
// http://jsfiddle.net/ztczg6h7/1/


.menu-large {
  position: static !important; // This make the menu full body width
}

.megamenu{
  padding: 10px 0px;
  width:100%;
  background-color:white!important;
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
}
.megamenu> li > ul {
  margin: 0;
  padding: 0px 5px;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 5px;
  margin-left:-5px;
  clear: both;
  font-weight: normal;
  font-size:0.9em;
  line-height: 1.3em;
  color: $grey18;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  background-color: $grey02;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: $grey04;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu> li > ul > li.bold > a{
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
}
.megamenu> li > ul > li.disabled > a{
  color:$grey10;
}
.megamenu> li > ul > li.disabled > a:hover,
.megamenu> li > ul > li.disabled > a:focus,{
  background-color: transparent;
}
.megamenu li .dropdown-header {
  color: $client;
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 1px 0px!important;
  white-space: normal;
}
.megamenu .divider{
background-color:$grey06;
margin:6px 0;
}

@media (max-width: 768px) {


  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch; // mobile safari
  }
  .megamenu> li {
    margin-bottom: 0px;
  }
  .megamenu> li > ul > li > a{
    padding: 3px 10px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu .divider{
    margin-right:15px;
  }

}

// Admin colours ==========================================

.admin .menu-large{
  .megamenu li .dropdown-header {
    color: $admin;
  }
  // .megamenu .divider{
  // background-color:$grey06;
  // }
}

// Dropdown overrides ==============================================================================
// This adjust to width of the megamenu if placed within a column
// Only works from columns of col-*-2 to col-*-10

div[class*="col-xs-10"], div[class*="col-sm-10"], div[class*="col-lg-10"], div[class*="col-xl-10"] { 
  .navbar-nav > li > .dropdown-menu{
    width:120%;
  }
}

div[class*="col-xs-9"], div[class*="col-sm-9"], div[class*="col-lg-9"], div[class*="col-xl-9"] { 
  .navbar-nav > li > .dropdown-menu{
    width:133.4%;
  }
}

div[class*="col-xs-8"], div[class*="col-sm-8"], div[class*="col-lg-8"], div[class*="col-xl-8"] { 
  .navbar-nav > li > .dropdown-menu{
    width:150%;
  }
}

div[class*="col-xs-7"], div[class*="col-sm-7"], div[class*="col-lg-7"], div[class*="col-xl-7"] { 
  .navbar-nav > li > .dropdown-menu{
    width:171.5%;
  }
}

div[class*="col-xs-6"], div[class*="col-sm-6"], div[class*="col-lg-6"], div[class*="col-xl-6"] { 
  .navbar-nav > li > .dropdown-menu{
    width:200%;
  }
}

div[class*="col-xs-5"], div[class*="col-sm-5"], div[class*="col-lg-5"], div[class*="col-xl-5"] { 
  .navbar-nav > li > .dropdown-menu{
    width:240%;
  }
}

div[class*="col-xs-4"], div[class*="col-sm-4"], div[class*="col-lg-4"], div[class*="col-xl-4"] { 
  .navbar-nav > li > .dropdown-menu{
    width:300%;
  }
}

div[class*="col-xs-3"], div[class*="col-sm-3"], div[class*="col-lg-3"], div[class*="col-xl-3"] { 
  .navbar-nav > li > .dropdown-menu{
    width:400%;
  }
}

div[class*="col-xs-2"], div[class*="col-sm-2"], div[class*="col-lg-2"], div[class*="col-xl-2"] { 
  .navbar-nav > li > .dropdown-menu{
    width:600%;
  }
}



