
// This is for main struture ONLY.
// Do not use for Page Specific styles.

// =============================================================================================================
// BOOTSRAP STRUCTURE
// =============================================================================================================

* {
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: grayscale!important;
    font-smoothing: antialiased!important;
}

html, body {
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  color: $bodytext;
}



// =============================================================================================================
// SARD STRUCTURE TWEAKS
// ===============================================
// These are the bootstrap defaults with amendments marked
// This reduces the gutter to 16px instead of 30px


@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}



.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 8px; // changed from 15px
  padding-right: 8px; // changed from 15px
}



// Incedentals, Tweaks and fudges ===================================

.margin-top5px{
  margin-top:5px;
}

.margin-top10px{
  margin-top:10px;
}

.margin-top15px{
  margin-top:15px;
}

.margin-top20px{
  margin-top:20px;
}

.margin-bottom5px{
  margin-bottom:5px;
}

.margin-bottom10px{
  margin-bottom:10px;
}

.margin-bottom15px{
  margin-bottom:15px;
}

.margin-bottom20px{
  margin-bottom:20px;
}




