

// Typography



//  TYPOGRAPHY GENERAL ========================================================== 

  //letter-spacing
    $tight: -0.05em; /* 16 * 0.0312 = 1/2px */
    $reduced: -0.025em; /* 16 * 0.0312 = 1/2px */
    $vslight: 0.025em; 
    $slight: 0.05em; /* 16 * 0.0312 = 1/2px */
    $single: 0.0625em; /* 16 * 0.0625 = 1px */
    $double: 0.125em; /* 16 * 0.125 = 2px */
  
  // Text Link Colours
    $bodytext:         $grey18;
    $link:             $grey18;
    $link-visited:     $plum;
    $link-hover:       darken($turq, 10%);
    $link-active:      $purple;
    

h1, h2, h3, h4, h5, h6, p{
  font-weight:normal;
}
  
  h1 {
    font-family: 'robotothin', Helvetica, Arial, Sans-serif;
    font-size: 5.000em;
    letter-spacing: $reduced;
    margin-top:0;
    margin-left:-4px;
  }
  
  h2 {
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 3.000em;
    margin-top:0;
    margin-left:-3px;
  }
  
  h3 {
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 2.000em;
    margin-top:0;
    margin-left:-2px;
  }
  
  h4 {
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.500em;
    margin-left:-1px;
  }

  h5 {
    font-family: 'robotomedium', Helvetica, Arial, Sans-serif;
    font-size: 1.250em;
  }

  h6 {
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-size: 1.000em;
  }
  
  p {
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.000em;
    // line-height: 1.5em;
  }

  .table p { // This adjust the spacing and endents of multi line links in a table
    // padding-left: 1.25em;
    // text-indent:-1.25em;
    margin-bottom:0.5em;
    line-height: 1.3em;
  }
  li p { // This adjust the spacing and endents of multi line links in a list
    padding-left: 1.25em;
    text-indent:-1.25em;
    margin-bottom:0.5em;
    line-height: 1.3em;
  }

// Small screens
@media (max-width: 767px) {
  h1{ font-size: 4.000em;}
  h2{ 
    // font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 2.250em;
  }
  h3{
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.750em;
  }
  h4{font-size: 1.500em;}
} 

// TEXT Styles ==========================================================
  
  .black{ 
    font-family: 'robotoblack', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  strong{ 
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .bold{ 
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .regular{
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .light{
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .thin{
    font-family: 'robotothin', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }

  .green { color:$green;}
  .red { color:$red;}

  .center{text-align:center;}
  .centre{text-align:center;}


// Global Page styles ==========================================================

  .page-title{
    .user-name{
      font-family: 'robotoregular';
      line-height:1em; 
      padding-left:2px;
    }
    .title{
      font-family: 'robotothin';
      line-height:0.6em; 
    }
  }

//  TEXT LINK Styles ========================================================== 


  a {
    color: $turq;
    text-decoration: none; }

    a:hover, a:focus {
      color: $ink;
      text-decoration: none; }

    a:focus { }

    a:link{ color:$bodytext;}
    a:visited{ color:$bodytext;}
    a:hover{ color:$link-hover;}
    a:active{ color:$link-hover;}
    
    .link-arrow { 
      // See sard/pages/index.scss
    }



  a.glyphicon-info-sign{
    color: darken($info, 10%); 
    background-color:white;
    border-radius:50%;
    border:1px solid white;
  }

  a:hover, a:focus .glyphicon-info-sign{
    color: darken($info, 20%);
  }
  


  // Glyphicons =========================================================
  .table .glyphicon-ok{color:$green;}
  .table .glyphicon-remove{color:$red;}
  .table .glyphicon-minus{color:$grey16;}
  .btn .glyphicon{ padding: 0 3px 0 0;}

