

// Typography



//  TYPOGRAPHY GENERAL ========================================================== 

  //letter-spacing
    $tight: -0.05em; /* 16 * 0.0312 = 1/2px */
    $reduced: -0.025em; /* 16 * 0.0312 = 1/2px */
    $vslight: 0.025em; 
    $slight: 0.05em; /* 16 * 0.0312 = 1/2px */
    $single: 0.0625em; /* 16 * 0.0625 = 1px */
    $double: 0.125em; /* 16 * 0.125 = 2px */
  
  // Text Link Colours
    $text:             $grey18;
    $bodytext:         $grey18;
    $link:             $grey18;
    $link-visited:     $plum;
    $link-hover:       darken($turq, 5%);
    $link-active:      $purple;
    

h1, h2, h3, h4, h5, h6, p{
  font-weight:normal;
}
  
  h1 {
    font-family: 'robotothin', Helvetica, Arial, Sans-serif;
    font-size: 5.000em;
    letter-spacing: $reduced;
    margin-top:0;
    margin-left:-4px;
  }
  
  h2 {
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 3.000em;
    margin-top:0;
    margin-left:-3px;
  }
  
  h3 {
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 2.000em;
    margin-top:0;
    margin-left:-2px;
  }
  
  h4 {
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.500em;
    margin-left:-1px;
  }

  h5 {
    font-family: 'robotomedium', Helvetica, Arial, Sans-serif;
    font-size: 1.250em;
  }

  h6 {
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-size: 1.000em;
  }
  
  p {
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.000em;
  }

  


// Small screens
@media (max-width: 767px) {
  h1{ font-size: 4.000em;}
  h2{ 
    // font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 2.250em;
  }
  h3{
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-size: 1.750em;
  }
  h4{font-size: 1.500em;}
} 

// TEXT Styles ==========================================================
  
  .black{ 
    font-family: 'robotoblack', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  strong, bold{ 
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .bold{ 
    font-family: 'robotobold', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .regular{
    font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .light{
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }
  .thin{
    font-family: 'robotothin', Helvetica, Arial, Sans-serif;
    font-weight:normal;
  }

  .asterisk{color:$turq}

  .center{text-align:center;}
  .centre{text-align:center;}
  .left{text-align:left;}
  .right{text-align:right;}


// Global Page styles ==========================================================

  .page-title{
    .user-name{
      font-family: 'robotoregular';
      line-height:1em; 
      padding-left:2px;
    }
    .title{
      font-family: 'robotothin';
      line-height:0.6em; 
    }
  }

//  TEXT LINK Styles ========================================================== 

  a {
    color: $turq;
    text-decoration: none; 
  }

  a:hover, a:focus {
    color: $ink;
    text-decoration: none; }

  a:link{ color:$bodytext;}
  a:visited{ color:$bodytext;}
  a:hover{ color:$link-hover;}
  a:active{ color:$link-hover;}
    
  // This makes links in text blue when they have no link icon
  .text-link:link{ color:darken($turq, 10%);}
  a.text-link:visited{ color:darken($turq, 10%);}
  a.text-link:hover{ color:$teal;}
  a.text-link:active{ color:$teal;}




// List Items ========================================================

  ul { // Removes bullet and indent globally
    padding: 0;
    list-style-type: none;
    list-style: none;
  }

  ol{
    padding-left:30px
  }
    

  ul.bullet-list{
    padding-left:12px;
    list-style: none;
    li::before {
      content: "•"; 
      display: inline-block; width: .55em;
      margin-left: -.55em;
      font-size: 190%;
      vertical-align:middle;
      line-height:.4em;
    }
    li{ padding-bottom:.5em;}
    li:last-of-type{ padding-bottom:0em;}
  }


li p { // This adjust the spacing and indents of multi line links in a list
    padding-left: 1.25em;
    text-indent:-1.25em;
    margin-bottom:0.5em;
    line-height: 1.3em;
  }



// Link Icons ==========================================================================


  // ARROW =============================================================================
  .link-arrow{ // This places the arrow icon in front of all text links in a single cell
    li, p{padding-left: 1.3em ;
      text-indent: -1.3em ;
    }
    a:link:before{
      font-family: 'FontAwesome';
      content: "\f0a9" ;
      padding-right:5px;
      color:$turq;
    }
    a:visited:before{color:$turq;}
  }

  p.link-arrow{ // This places the pdf icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }

  ul li p.link-arrow{ // This places the pdf icon in front individual text in a list
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }

  p.link-arrow a:link:before{
    font-family: 'FontAwesome';
    content: "\f0a9" ;
    padding-right:5px;
    color:$turq;
  }

  p.link-arrow a:visited:before{color:$turq;}


  // PDF ===========================================================================
  // This places the pdf icon in front of text links

  .link-pdf a:link:before{
    font-family: 'FontAwesome';
    content: "\f1c1" ;
    padding-right:7px;
    color:$red;
  }
  a[class$='pdf']:before,
  span.link-pdf:before {
    font-family: 'FontAwesome';
    content: "\f1c1" ;
    padding-right:1.3em;
    color:$red;
    float:left;
  }
  p.link-pdf{ // This places the pdf icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }

  
  // WORD DOCS ===========================================================================
  // This places the doc icon in front of text links

  .link-doc a:link:before,
  .link-docm a:link:before, 
  .link-docx a:link:before{
    font-family: 'FontAwesome';
    content: "\f1c2" ;
    padding-right:7px;
    color:$blue;
  }
  a[class$='doc']:before,
  a[class$='docm']:before,
  a[class$='docx']:before,
  span.link-doc:before,
  span.link-docm:before, 
  span.link-docx:before {
    font-family: 'FontAwesome';
    content: "\f1c2" ;
    padding-right:1.3em;
    color:$blue;
    float:left;
  }
  p.link-doc,
  p.link-docm, 
  p.link-docx{ // This places the doc icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


  // Text docs, RTF docs ===========================================================================
  // This places the txt icon in front of text links

  .link-txt a:link:before,
  .link-odt a:link:before, 
  .link-rtf a:link:before{
    font-family: 'FontAwesome';
    content: "\f0f6" ;
    padding-right:7px;
    color:$grey18;
  }
  a[class$='txt']:before,
  a[class$='odt']:before,
  a[class$='rtf']:before,
  span.link-txt:before,
  span.link-odt:before, 
  span.link-rtf:before {
    font-family: 'FontAwesome';
    content: "\f0f6" ;
    padding-right:1.3em;
    color:$grey18;
    float:left;
  }
  p.link-txt,
  p.link-odt, 
  p.link-rtf{ // This places the txt icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


  // Excel docs ===========================================================================
  // This places the xls icon in front of text links
  .link-xls a:link:before,
  .link-xlsx a:link:before{
    font-family: 'FontAwesome';
    content: "\f1c3" ;
    padding-right:7px;
    color:$green;
  }
  a[class$='xls']:before,
  a[class$='xlsx']:before,
  span.link-xls:before, 
  span.link-xlsx:before {
    font-family: 'FontAwesome';
    content: "\f1c3" ;
    padding-right:1.3em;
    color:$green;
    float:left;
  }
  p.link-xls, 
  p.link-xlsx{ // This places the xls icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


  // JPG, PNG, Photos & Images ===========================================================================
  // This places the image icon in front of text links
  .link-jpg a:link:before, 
  .link-png a:link:before, 
  .link-gif a:link:before, 
  .link-photo a:link:before,
  .link-photo a:link:before, 
  .link-ico a:link:before{
    font-family: 'FontAwesome';
    content: "\f1c5" ;
    padding-right:7px;
    color:$grey18;
  }
  a[class$='jpg']:before,
  a[class$='png']:before,
  a[class$='gif']:before,
  a[class$='photo']:before,
  a[class$='image']:before,
  a[class$='ico']:before,
  span.link-jpg:before, 
  span.link-png:before, 
  span.link-gif:before, 
  span.link-photo:before, 
  span.link-image:before,
  span.link-ico:before {
    font-family: 'FontAwesome';
    content: "\f1c5" ;
    padding-right:1.3em;
    color:$grey18;
    float:left;
    
  }
  p.link-jpg, 
  p.link-png,
  p.link-gif,
  p.link-photo,
  p.link-image,
  p.link-ico{ // This places the image icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }



  // ZIP ===========================================================================
  // This places the zip icon in front of text links
  .link-zip a:link:before{
    font-family: 'FontAwesome';
    content: "\f1c6" ;
    padding-right:7px;
    color:$grey18;
  }
  a[class$='zip']:before,
  span.link-zip:before {
    font-family: 'FontAwesome';
    content: "\f1c6" ;
    padding-right:1.3em;
    color:$grey18;
    float:left;
  }
  p.link-zip{ // This places the zip icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


  // Phone ===========================================================================
  // This places the phone icon in front of text links
  .link-phone a:link:before{
    font-family: 'FontAwesome';
    content: "\f095" ;
    padding-right:7px;
    color:$grey18;
  }
  a[class$='phone']:before,
  span.link-phone:before {
    font-family: 'FontAwesome';
    content: "\f095" ;
    padding-right:8px;
    color:$grey18;
  }
  p.link-phone{ // This places the phone icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


  // EMAIL ===========================================================================
  // This places the email icon in front of text links
  .link-email a:link:before{
    font-family: 'FontAwesome';
    content: "\f003" ;
    padding-right:7px;
    color:$grey18;
  }
  a[class$='email']:before,
  span.link-email:before {
    font-family: 'FontAwesome';
    content: "\f003" ;
    padding-right:5px;
    color:$grey18;
  }
  p.link-email{ // This places the email icon in front individual text
    padding-left: 1.3em ;
    text-indent: -1.3em ;
  }


// Glyphicons  & Font Awesome =========================================================================

  .glyphicon-ok{color:$green;}
  .glyphicon-remove{color:$red;}
  .glyphicon-minus{color:$grey16;}
  .glyphicon, .fa{ padding: 0 5px 0 0;}

