<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Accordions and Collapsable Panels</h2>
      <p class="ui-intro"> There is very little differnce between an  Accordion and Collapsable Panels other than an Accordion has <code> data-parent="#accordion"</code> added to the heading link. This causes other panels within the panel-group to close when one is open, behaving more like an accordion. A Collapsable Panel can have more than panel open at a time.</p>
      <p class="ui-intro">There has been some CSS changes to the standard Bootstrap version, so that the entire panel-heading is a link and has roleover states.</p>
      <p class="ui-intro">To add the + or - icons, Add <code>&lt;i class="more-less glyphicon glyphicon-plus pull-right"&gt;&lt;/i&gt;</code> within the link, and change it to either a plus or minus depending on it's opening state.</p>
      <p class="ui-intro">The containing panel-group will need the class <code>accordion sa-accordion</code> added to it.</p>
      <p class="ui-intro">If the Accodion is used but not within a panel (i.e. Support/FAQs) then the containing div will need a class of <code>accordion sa-accordion</code> added to it. (Or <code>accordion faq-accordion</code> in the case of FAQs.</br></br></p>
      
    </div> <!-- END Column -->
  </div> <!-- END Row -->
</div> <!-- END Container -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Accordion</h2> 
      <div class="panel-group accordion sa-accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" id="headingOne" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapseOne" aria-expanded="false" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion">Accordion One
                <i class="more-less glyphicon glyphicon-minus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne" role="tabpanel">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->

          <div class="panel panel-default">
            <div class="panel-heading" id="headingTwo" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapseTwo" aria-expanded="false" data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion">Accordion Two
                <i class="more-less glyphicon glyphicon-plus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo" role="tabpanel">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->

          <div class="panel panel-default">
            <div class="panel-heading" id="headingThree" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapseThree" aria-expanded="false" data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion">Accordion Three
                <i class="more-less glyphicon glyphicon-plus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->
      </div>  <!-- / panel-group sa-accordion -->
    </div> <!-- END Col -->
  </div> <!-- END Row -->
</div> <!-- END Container -->


  <!--  COLLAPSABLE PANELS  ===================================================================================== -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Collapsable panels</h2> 
      <p class="ui-intro">Collapsable panels can be either in a group or single as below. When single the .sa-accordion will need to be added to the panel class.
      </p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->
</div> <!-- END Container -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group accordion sa-accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" id="heading_four" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapse_four" aria-expanded="false" data-toggle="collapse" data-target="#collapse_four">Collapsable One
                <i class="more-less glyphicon glyphicon-minus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapse_four" class="panel-collapse collapse in" aria-labelledby="heading_four" role="tabpanel">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->

          <div class="panel panel-default">
            <div class="panel-heading" id="heading_five" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapse_five" aria-expanded="false" data-toggle="collapse" data-target="#collapse_five">Collapsable Two
                <i class="more-less glyphicon glyphicon-plus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapse_five" class="panel-collapse collapse" aria-labelledby="heading_five" role="tabpanel">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->

          <div class="panel panel-default">
            <div class="panel-heading" id="heading_six" role="tab">
            <h3 class="panel-title">
              <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="collapse_six" aria-expanded="false" data-toggle="collapse" data-target="#collapse_six">Collapsable Three
                <i class="more-less glyphicon glyphicon-plus pull-right"></i>
              </a>
            </h3>
            </div>

            <div id="collapse_six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_six">
              <div class="panel-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </div> <!-- / panel -->
      </div>  <!-- / panel-group sa-accordion -->
    </div> <!-- END Col -->

    <div class="col-xs-6">
      <div class="panel panel-admin accordion sa-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" id="heading_four" role="tab">
        <h3 class="panel-title">
          <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="SinglePanelCollapse" aria-expanded="false" data-toggle="collapse" data-target="#SinglePanelCollapse">Single Panel - Admin
            <i class="more-less glyphicon glyphicon-plus pull-right"></i>
          </a>
        </h3>
        </div>
        <div id="SinglePanelCollapse" class="panel-collapse collapse in" aria-labelledby="heading_four" role="tabpanel">
          <div class="panel-body">
            <p>This is an example of a single collapsable panel.</p>
            <p>So far we only have colouring for Default and Admin, others can be added on request.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
          <div class="panel-footer">
            Panel footer
          </div>
        </div>
      </div> <!-- / panel -->
     </div> <!-- / Col -->

     <div class="col-xs-6">
      <div class="panel panel-default accordion sa-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" id="heading_four" role="tab">
        <h3 class="panel-title">
          <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="SinglePanelCollapse_2" aria-expanded="false" data-toggle="collapse" data-target="#SinglePanelCollapse_2">Single Panel - Default
            <i class="more-less glyphicon glyphicon-plus pull-right"></i>
          </a>
        </h3>
        </div>
        <div id="SinglePanelCollapse_2" class="panel-collapse collapse in" aria-labelledby="heading_four" role="tabpanel">
          <div class="panel-body">
            <p>This is an example of a single collapsable panel.</p>
            <p>So far we only have colouring for Default and Admin, others can be added on request.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
          <div class="panel-footer">
            Panel footer
          </div>
        </div>
      </div> <!-- / panel -->
     </div> <!-- / Col -->

  </div> <!-- END Row -->
</div> <!-- END Container -->





