<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Alerts</h1>
      <h4>Alerts do NOT go inside a ROW</h4>
      <p>If however you need to place it in a ROW then add <code>row-indent</code> to then row class so that it aligns correctly.</p>
    </div> <!-- / Column -->
  </div> <!-- / Row -->

  <div class="row">
    <div class="col-xs-12">
    <div class="alert alert-success" role="alert">class="alert alert-success" <a href="#">This is a Link</a></div>
    <div class="alert alert-info" role="alert">class="alert alert-info" <a href="#">This is a Link</a></div>
    <div class="alert alert-warning" role="alert">class="alert alert-warning" <a href="#">This is a Link</a></div>
    <div class="alert alert-danger" role="alert">class="alert alert-danger" <a href="#">This is a Link</a></div>
    <h4>SARD Solution Alerts</h4>
    <div class="alert alert-MRv" role="alert">Medical Revalidation <code>class="alert alert-MRv"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-NRv" role="alert">Nurse Revalidation <code>class="alert alert-NRv"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-360" role="alert">360 <code>class="alert alert-360"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-eLeave" role="alert">eLeave <code>class="alert alert-eLeave"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-A4A" role="alert">Appraisals for All <code>lass="alert alert-A4A"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-JPL" role="alert">Job Planning <code>class="alert alert-JPL"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-eRo" role="alert">eRostering <code>class="alert alert-eRo"</code> <a href="#">This is a Link</a></div>
    <div class="alert alert-CPL" role="alert">Capacity Planning <code>class="alert alert-CPL"</code> <a href="#">This is a Link</a>
    </div>
    </div>

  <div> <!-- / Row -->
</div> <!-- / Container -->