<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>List Styles</h1>
      <h4>This page shows a range of List Styles used throught the system. Some, but not all, use lists while others use divs and collapsable divs.  </h4>
      <h4>&nbsp;</h4>
    </div> <!-- END Column -->
  </div> <!-- END Row -->


  <div class="row">
    <div class="col-xs-12">
      <h2>Notices</h2>
      <p>Below shows a set of notices both within a Panel and without.</br>
      Notices can be used to list a variety of links with their status applied.</p>
    </div> <!-- END Column -->

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notices<a class="pull-right glyphicon glyphicon-info-sign"  data-toggle="popover" title="Popover title" data-placement="bottom" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa sem, aliquet a sagittis sit amet, euismod hendrerit massa. Morbi lorem mauris, sagittis ut dapibus et, rutrum et risus. Phasellus in erat faucibus, venenatis risus et, congue diam. Maecenas feugiat sem in ante suscipit, et conseuqat justo ultricies. Donec a tincidunt dolor. Cras faucibus ipsum id laoreet pulvinar. Nulla porttitor metus eget mauris convallis mollis. Proin tempus mi id tortor elementum lobortis eu quis dui. In id nisl congue, fermentum risus eget, fringilla tellus. Phasellus auctor diam vel porta efficitur. Nunc quis ante a mi egestas vulputate eget eu arcu. Nam dui arcu, commodo eu congue at, imperdiet maximus leo."></a></h3>
        </div>
        <div class="panel-body">
          <div class="notice status status-success">
            <a href="#">
              <h6>Recommendation Due</h6>
              <p>Fri 31 Jan 2020</p>
            </a>
          </div>
          <div class="notice status status-warning">
            <a href="#">
              <h6>Approved Clinician Expiry</h6>
              <p>Sun 22 Oct 2017</p>
            </a>
          </div>
          <div class="notice status status-alert">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="The <strong>GMC Registration Expiry</strong> is the date on which you normally renew your GMC registration. 
            This can be updated by clicking on 'Edit My Details' below. 
            If your GMC registration is renewed annually by direct debit this can be blank."></a>
            <a href="#">
              <h6>GMC Registration Expiry</h6>
              <p>Sat 01 Jul 2017</p>
            </a>
          </div>
          <div class="notice status status-danger">
            <a href="#">
              <h6>Appraisal Due</h6>
              <p>Sat 01 Jul 2017</p>
            </a>
          </div>
          <div class="notice status status-success">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="Your <strong>MSF due date</strong> is 5 years after the date of your last complete MSF. 
            To have a complete MSF you must have completed the self assessment questionnaire, colleague feedback and patient feedback."></a>
            <a href="#">
              <h6>MSF Due</h6>
              <p>Wed 14 Jul 2021</p>
            </a>
          </div>
          <div class="notice status status-none">
            <a href="#">
              <h6>Job Plan Due</h6>
              <p>Sun 01 Apr 2018</p>
            </a>
          </div>
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Col -->

    <div class="col-xs-6">
        <div class="notice-group">
          <h3>Notices<a class="pull-right glyphicon glyphicon-info-sign"  data-toggle="popover" title="Popover title" data-placement="bottom" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa sem, aliquet a sagittis sit amet, euismod hendrerit massa. Morbi lorem mauris, sagittis ut dapibus et, rutrum et risus. Phasellus in erat faucibus, venenatis risus et, congue diam. Maecenas feugiat sem in ante suscipit, et conseuqat justo ultricies. Donec a tincidunt dolor. Cras faucibus ipsum id laoreet pulvinar. Nulla porttitor metus eget mauris convallis mollis. Proin tempus mi id tortor elementum lobortis eu quis dui. In id nisl congue, fermentum risus eget, fringilla tellus. Phasellus auctor diam vel porta efficitur. Nunc quis ante a mi egestas vulputate eget eu arcu. Nam dui arcu, commodo eu congue at, imperdiet maximus leo."></a></h3>
        
          <div class="notice status status-success">
            <a href="#">
              <h6>Recommendation Due</h6>
              <p>Fri 31 Jan 2020</p>
            </a>
          </div>
          <div class="notice status status-warning">
            <a href="#">
              <h6>Approved Clinician Expiry</h6>
              <p>Sun 22 Oct 2017</p>
            </a>
          </div>
          <div class="notice status status-alert">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="The <strong>GMC Registration Expiry</strong> is the date on which you normally renew your GMC registration. 
            This can be updated by clicking on 'Edit My Details' below. 
            If your GMC registration is renewed annually by direct debit this can be blank."></a>
            <a href="#">
              <h6>GMC Registration Expiry</h6>
              <p>Sat 01 Jul 2017</p>
            </a>
          </div>
          <div class="notice status status-danger">
            <a href="#">
              <h6>Appraisal Due</h6>
              <p>Sat 01 Jul 2017</p>
            </a>
          </div>
          <div class="notice status status-success">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="Your <strong>MSF due date</strong> is 5 years after the date of your last complete MSF. 
            To have a complete MSF you must have completed the self assessment questionnaire, colleague feedback and patient feedback."></a>
            <a href="#">
              <h6>MSF Due</h6>
              <p>Wed 14 Jul 2021</p>
            </a>
          </div>
          <div class="notice status status-none">
            <a href="#">
              <h6>Job Plan Due</h6>
              <p>Sun 01 Apr 2018</p>
            </a>
          </div>
        </div> <!-- / notices -->
    </div> <!-- / Col -->
  </div> <!-- / Row -->

  <div class="row perf break"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Doc Lists</h2>
      <p>This is a simple list of document links.</p>
    </div> <!-- END Column -->

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Support Docs</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group doc-list">
            <li class="title">Trust Policy Documents</li>
            <li class="link link-arrow"><a href="https://s3-eu-west-1.amazonaws.com/sardjv-production/uploads/public/support_documents/sources/52b/463/15e/3e1/f15/747/000/3f2/original/appraisal.txt?1387553885" target="_blank">Appraisal Policy</a></li>
            <li class="link link-arrow"><a href="https://s3-eu-west-1.amazonaws.com/sardjv-production/uploads/public/support_documents/sources/57e/13f/4f8/025/420/c86/000/005/original/GSTT_DBS_declaration.docx?1474379599" target="_blank">DBS Declaration</a></li>
          </ul>
        </div>
      </div> <!-- END Panel -->
    </div> <!-- / Col -->

    <div class="col-xs-6">
      <div class="list-group">
          <h3 class="">Support Docs</h3>
          <ul class="doc-list">
            <li class="title">Trust Policy Documents</li>
            <li class="link link-arrow"><a href="https://s3-eu-west-1.amazonaws.com/sardjv-production/uploads/public/support_documents/sources/52b/463/15e/3e1/f15/747/000/3f2/original/appraisal.txt?1387553885" target="_blank">Appraisal Policy</a></li>
            <li class="link link-arrow"><a href="https://s3-eu-west-1.amazonaws.com/sardjv-production/uploads/public/support_documents/sources/57e/13f/4f8/025/420/c86/000/005/original/GSTT_DBS_declaration.docx?1474379599" target="_blank">DBS Declaration</a></li>
          </ul>
      </div>
    </div> <!-- / Col -->
  </div> <!-- / Row -->

  <div class="row perf break"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Notifications</h2>
      <p>Notifications</p>
    </div> <!-- END Column -->

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your Notifications</h3>
        </div>
        <div class="panel-body">
          <div class="notifications">
          <p class="date">Sat, 10 Dec 2016</p>
          <ul class="link-arrow">
            <h6 class="time">01:16PM</h6>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/eleave_calendar">Dr Janet T Johnson approved a leave period</a></li>
          </ul>
            <p class="date">Thu, 08 Dec 2016</p>
          <ul class="link-arrow">
            <h6 class="time">10:41 AM</h6>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith is now complete</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by  Laura Gordon</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by Dr Sophie Buijsen</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by Dr John T Smith</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith is ready to sign off and requires your signature</a></li>
            <h6 class="time">09:30 AM</h6>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/eleave_calendar">Dr Janet T Johnson approved a leave period</a></li>
          </ul>
          <p class="date">Thu, 17 Nov 2016</p>
          <ul class="link-arrow">
            <h6 class="time">03:33 PM</h6>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/appraisals/jul2016-1/portfolio#domain_attributes/5034dfb2e3e1f1226d00000c/appraisal_datasets/5034e01ee3e1f12443000055">Evidence uploaded by  SARD System was attached to your portfolio Jul 2016</a></li>
            <h6 class="time">03:32PM</h6>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/555c56c1f2a39f7ff900017f">The Job Plan Apr 2017 for Dr John T Smith is now complete</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/555c56c1f2a39f7ff900017f">The Job Plan Apr 2017 for Dr John T Smith has been signed off by Dr Sophie Buijsen</a></li>
          </ul>
          </div>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body button">
          <a href="#" class="btn btn-primary">View All Notifications</a>
        </div>
      </div> <!-- / Panel -->
    </div> <!-- / Col -->

    <div class="col-xs-6">
        <div class="notifications">
          <h3 class="">Your Notifications</h3>
          <p class="date">Sat, 10 Dec 2016</p>
          <ul class="link-arrow">
            <li class="time">01:16PM</li>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/eleave_calendar">Dr Janet T Johnson approved a leave period</a></li>
          </ul>
            <p class="date">Thu, 08 Dec 2016</p>
          <ul class="link-arrow">
            <li class="time">10:41 AM</li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith is now complete</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by  Laura Gordon</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by Dr Sophie Buijsen</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith has been signed off by Dr John T Smith</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/54e652bf80254210b2000030">The Job Plan Jan 2016 for Dr John T Smith is ready to sign off and requires your signature</a></li>
            <li class="time">09:30 AM</li>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/eleave_calendar">Dr Janet T Johnson approved a leave period</a></li>
          </ul>
          <p class="date">Thu, 17 Nov 2016</p>
          <ul class="link-arrow">
            <li class="time">03:33 PM</li>
            <li><a href="https://demo.sardjv.co.uk/users/2-3/appraisals/jul2016-1/portfolio#domain_attributes/5034dfb2e3e1f1226d00000c/appraisal_datasets/5034e01ee3e1f12443000055">Evidence uploaded by  SARD System was attached to your portfolio Jul 2016</a></li>
            <li class="time">03:32PM</li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/555c56c1f2a39f7ff900017f">The Job Plan Apr 2017 for Dr John T Smith is now complete</a></li>
            <li><a href="https://demo.sardjv.co.uk/online_job_plans/555c56c1f2a39f7ff900017f">The Job Plan Apr 2017 for Dr John T Smith has been signed off by Dr Sophie Buijsen</a></li>
          </ul>
          <a href="#" class="btn btn-primary">View All Notifications</a>
        </div><!-- / notifications -->
    </div> <!-- / Col -->
  </div> <!-- / Row -->

    <div class="row perf break"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Messages</h2>
      <p>Message lists are made up of DIVS classed <code>.message</code>, nested within a<code>.message-group</code>, A message can be collapsable or not, but you shouldn't put collapsable and non-collapsable within the same group. You can however have multiple groups.</br>
        When used without a panel they should all be wrapped in a DIV with a class of <code>.messages</code>. Regardless of whether they are within a panel or not, the type should use the classes set out below.</p>
        <p>To include the + / - symbols in the collapsable messages, simply add <code>.toggle-plus</code> to the <code>.accordion-toggle</code> class.</p>
    </div> <!-- END Column -->

    <div class="col-xs-6">
      <div class="panel panel-admin accordion sa-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" id="heading_four" role="tab">
          <h3 class="panel-title">
            <a href="#" class="accordion-toggle collapsed" role="button" aria-controls="Admin_DB_Messages" aria-expanded="false" data-toggle="collapse" data-target="#Admin_DB_Messages">SARD Messages
              <i class="more-less glyphicon glyphicon-minus pull-right"></i>
            </a>
          </h3>
        </div> <!-- / panel-heading -->
        <div id="Admin_DB_Messages" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="message-group">
              <div class="messages-collapse">
                <div class="message">
                  <a href="#" class="toggle-plus accordion-toggle collapsed" role="button" aria-controls="ADB_Message_01" aria-expanded="false" data-toggle="collapse" data-target="#ADB_Message_01">
                    <h4>Collapsable Message</h4>
                    <h6>Message Subtitle</h6>
                  </a>
                  <div id="ADB_Message_01"class="collapse ">
                    <p>Message text</p>
                  </div>
                </div> <!-- / message -->

                <div class="message">
                  <a href="#" class="toggle-plus accordion-toggle collapsed" role="button" aria-controls="ADB_Message_02" aria-expanded="false" data-toggle="collapse" data-target="#ADB_Message_02">
                    <h4>Message</h4>
                  </a>
                  <div id="ADB_Message_02"class="collapse ">
                    <p>Message text</p>
                  </div>
                </div> <!-- / message -->
              </div> <!-- / messages-collapse-->
            </div> <!-- / message-group-->
            
            <div class="message-group">
              <div class="message">
                <h4>Non-Collapsable Message</h4>
                <h6>Message Subtitle</h6>
                <p>A group of messages should sit within a message-group, whether they are collapsable or not. If you wish to mix collapsable messages with non-collapsable messages, then the two types should be within separate message-groups. </p>
              </div> <!-- / message -->
              <div class="message">
                <h4>Message Title should be H4</h4>
                <h6>Message Subtitle should be H6</h6>
                <p>Message should be p.</p>
                <p>A group of messages should sit within a message-group, whether they are collapsable or not. If you wish to mix collapsable messages with non-collapsable messages, then the two types should be within separate message-groups. </p>
              </div> <!-- / message -->
            </div> <!-- / message-group-->
          </div> <!-- / panel-body -->
          <div class="panel-footer">
            Panel footer
          </div>
        </div> <!-- / panel-collapse -->
      </div> <!-- / panel -->
     </div> <!-- / Col -->


     <div class="col-xs-6">
      <div class="messages">
        <h3>SARD Messages H3</h3>
        <div class="message-group">
          <div class="messages-collapse">
            <div class="message">
              <a href="#" class="toggle-plus accordion-toggle collapsed" role="button" aria-controls="ADB_Message_03" aria-expanded="false" data-toggle="collapse" data-target="#ADB_Message_03">
                <h4>Collapsable Message</h4>
                <h6>Message Subtitle</h6>
              </a>
              <div id="ADB_Message_03"class="collapse ">
                <p>Message text</p>
              </div>
            </div> <!-- / message -->

            <div class="message">
              <a href="#" class="toggle-plus accordion-toggle collapsed" role="button" aria-controls="ADB_Message_04" aria-expanded="false" data-toggle="collapse" data-target="#ADB_Message_04">
                <h4>Message Title</h4>
              </a>
              <div id="ADB_Message_04"class="collapse ">
                <p>Message text</p>
              </div>
            </div> <!-- / message -->
          </div> <!-- / messages-collapse-->
        </div> <!-- / message-group-->
        <div class="message-group">
            <div class="message">
              <h4>Non-Collapsable Message</h4>
              <h6>Message Subtitle</h6>
              <p>A group of messages should sit within a message-group, whether they are collapsable or not. If you wish to mix collapsable messages with non-collapsable messages, then the two types should be within separate message-groups. </p>
            </div> <!-- / message -->
            <div class="message">
              <h4>Message Title should be H4</h4>
              <h6>Message Subtitle should be H6</h6>
              <p>Message should be p.</p>
              <p>A group of messages should sit within a message-group, whether they are collapsable or not. If you wish to mix collapsable messages with non-collapsable messages, then the two types should be within separate message-groups. </p>
            </div> <!-- / message -->
        </div> <!-- / message-group-->
      </div> <!-- / messages -->
     </div> <!-- / Col -->
  </div> <!-- / Row -->



</div> <!-- END Container -->