<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Megamenu</h1>
      <p>To view the Megamenu in action, use the version above or the one in the main navbar at the top.</p>

      <p>If you don't want the dropdown menus, including the megamenu to appear on hover, then de-activete the JS script in javascripts/sard/sa-megamenu.js</p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <h3>&nbsp;</h3>
  <h3>Megamenu with searchbar</h3>
  <nav id="" class="navbar navbar-inpage">
      <div class="col-xs-12 col-sm-6 pull-right">
          <form class="formuser-search" role="user-search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="User Search" name="q">
              <div class="input-group-btn">
                  <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
          </form>
      </div>
      
      <div id="" class="col-xs-12 col-sm-6">
        <ul class="nav navbar-nav">
          <li class="dropdown menu-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Megamenu <b class="caret"></b></a>       
            <ul class="dropdown-menu megamenu">
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Glyphicons</li>
                  <li><a href="#">Available glyphs</a></li>
                  <li class="disabled"><a href="#">How to use</a></li>
                  <li><a href="#">Examples</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Dropdowns</li>
                  <li><a href="#">Example</a></li>
                  <li><a href="#">Aligninment options</a></li>
                  <li><a href="#">Headers</a></li>
                  <li><a href="#">Disabled menu items</a></li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Button groups</li>
                  <li><a href="#">Basic example</a></li>
                  <li><a href="#">Button toolbar</a></li>
                  <li><a href="#">Sizing</a></li>
                  <li><a href="#">Nesting</a></li>
                  <li><a href="#">Vertical variation</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Button dropdowns</li>
                  <li><a href="#">Single button dropdowns</a></li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Input groups</li>
                  <li><a href="#">Basic example</a></li>
                  <li><a href="#">Sizing</a></li>
                  <li><a href="#">Checkboxes and radio addons</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Navs</li>
                  <li><a href="#">Tabs</a></li>
                  <li><a href="#">Pills</a></li>
                  <li><a href="#">Justified</a></li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Navbar</li>
                  <li><a href="#">Default navbar</a></li>
                  <li><a href="#">Buttons</a></li>
                  <li><a href="#">Text</a></li>
                  <li><a href="#">Non-nav links</a></li>
                  <li><a href="#">Component alignment</a></li>
                  <li><a href="#">Fixed to top</a></li>
                  <li><a href="#">Fixed to bottom</a></li>
                  <li><a href="#">Static top</a></li>
                  <li><a href="#">Inverted navbar</a></li>
                </ul>
              </li>
            </ul>
          </li> <!-- / menu-large -->
        </ul>
      </div><!-- /col -->
  </nav>
</div><!-- /container -->