
<!-- Panels - Bootstrap defaults ========================================== -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Panels - Bootstrap defaults</h2>
      <p class="ui-intro">All panels need to sit within a DIV with col-widths</br>
      i.e. <code>&lt;div class="col-md-6"&gt;</code></p>
      <p>&nbsp;</p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Panel No Style</h2>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel"</h3>
        </div>
        <div class="panel-body">
          This is a simple panel with no style attached.
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          To add the perforation simply add a DIV <code>class="perf-wht"</code> between two panel-body DIVs, OR within a panel-body.
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row">
    <div class="col-md-6">
    <h2>Panel Default</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-default"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
    <h2>Panel Primary</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-primary"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
    <h2>Panel Success</h2>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-success"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
    <h2>Panel Info</h2>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-info"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
    <h2>Panel Warning</h2>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-warning"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
    <h2>Panel Danger</h2>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-danger"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
          <button type="button" class="btn btn-default">Button Default</button>
          <button type="button" class="btn btn-primary">Button Primary</button>
          <button type="button" class="btn btn-info">Button Info</button>
          <button type="button" class="btn btn-success">Button Success</button>
          <button type="button" class="btn btn-warning">Button Warning</button>
          <button type="button" class="btn btn-danger">Button Danger</button>
          <button type="button" class="btn btn-dark">Button Dark</button>
          <button type="button" class="btn btn-light">Button Light</button>
          <button type="button" class="btn btn-white">Button White</button>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

  </div> <!-- END Row -->

  <!-- ==================================================================== -->

  <div class="row mobile-hide">
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            1
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            2
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            3
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            4
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            5
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            6
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            7
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            8
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            9
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            10
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            11
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
    <div class=" col-xs-1">
        <div class="panel panel-default">
          <div class="panel-body">
            12
          </div>
        </div> <!-- END Panel -->
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row perf"></div> 

  <!-- Panels - SARD Solutions ============================================ -->

  <div class="row">
      <div class="col-xs-12">
        <h1>Panels - SARD Solutions</h1>
      </div> <!-- END Column -->
    </div> <!-- END Row -->

  <div class="row">

    <div class="col-md-6">
      <h2>Medical Revailidation</h2>
      <div class="panel panel-MRv">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-MRv"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Nurse Revalidation</h2>
      <div class="panel panel-NRv">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-NRv"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>360</h2>
      <div class="panel panel-360">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-360"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>eLeave</h2>
      <div class="panel panel-eLeave">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-eLeave"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Appraisal for All</h2>
      <div class="panel panel-A4A">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-A4A"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Job Planning</h2>
      <div class="panel panel-JPL">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-JPL"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>eRostering</h2>
      <div class="panel panel-eRo">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-eRo"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Capacity Planning</h2>
      <div class="panel panel-CPL">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-CPL"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

  </div> <!-- END Row -->

  <!-- ==================================================================== -->

  <div class="row perf"></div> 

  <!-- Panels - Others ==================================================== -->

  <div class="row">
    <div class="col-xs-12">
      <h1>Panels - Others</h1>
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row">

    <div class="col-md-6">
      <h2>Panel Dark</h2>
      <div class="panel panel-dark">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-dark"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Panel very dark</h2>
      <div class="panel panel-vdark">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel panel-vdark</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-wht"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Panel White</h2>
      <div class="panel panel-white">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel-white"</h3>
        </div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="perf-grey"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

    <div class="col-md-6">
      <h2>Panel Clean</h2>
      <div class="panel panel-clean">
        <div class="panel-heading">
          <h3 class="panel-title">class="panel-clean"</h3>
        </div>
        <div class="panel-body">
          <p>This panel is intended to have no padding left or right. And should be used for placing content that has the apperence of not being in a panel</p>
        </div>
        <div class="perf-grey"></div>
        <div class="panel-body">
          <p>Panel body</p>
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div> <!-- END Panel -->
    </div> <!-- END Column -->

  </div> <!-- END Row -->
</div> <!-- END Container -->