<div class="container">
  <div class="row" id="perforations">
    <div class="col-xs-12">
      <h1>Rows & Perforations</h1>
    </div> <!-- END Column -->
  </div> <!-- END Row -->



  <p class="ui-intro">Everything is contained within ROWs <code>&lt;div class="row"&gt;&lt;/div&gt;</code>. If you wish to add a perfration between 2 ROWs then simply add the class "row-top-perfs" to the top row, and a class of "row-bottom-perfs" to the bottom row. If there are multiple rows with perforarions then and both calsses to the middle rows.
  <p>&nbsp;</p>
</div> <!-- END Container -->


<div class="container">
  <div class="row row-grey row-bottom-perfs">
    <p>If you wish to have a coloured rows then add the class of "row-grey" or "row-turq". </br>
      This row is written:</br>
      <code>&lt;div class="row row-grey row-bottom-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>

  <div class="row row-turq row-top-perfs row-bottom-perfs">
    <p>
      This row is written:</br>
      <code>&lt;div class="row row-turq row-top-perfs row-bottom-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>

  <div class="row row-grey row-top-perfs">
    <p>
      This row is written:</br>
      <code>&lt;div class="row row-grey row-top-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>
</div> <!-- END Container -->

<div class="container">
  <p>&nbsp;</p>
</div> <!-- END Container -->

