<div class="row" id="perforations">
  <div class="col-xs-12">
    <h1>Rows & Perforations</h1>
  </div> <!-- END Column -->
</div> <!-- END Row -->



<p>Everything is contained within ROWs <code>&lt;div class="row"&gt;&lt;/div&gt;</code>. If you wish to add a perfration between 2 ROWs then simply add a new ROW between them with a class of perf-grey <code>&lt;div class="row perf"&gt;&lt;/div&gt;</code>.</p> The perforation is made of repeating dot images of the same colour as the body background colour. If you wish to have a different background colour than we will need to make new images of that colour and use them.
<p>&nbsp;</p>

<div class="row perf"></div>
<div class="row row-grey row-between-perfs">
  <p>If you wish to have a coloured row inbetween 2 rows then do the following:</br>
    After the first row add a new row with an added class of .perf, followed by a second row with two added classes of .row-[color] and .row-between-perfs. </br>
    This row is written:</br>
    <code>&lt;div class="row perf"&gt;&lt;/div&gt;</code></br>
    <code>&lt;div class="row row-grey row-between-perfs"&gt;&lt;/div&gt;</code>
  </p>
</div>
<div class="row perf"></div>
<div class="row row-turq row-between-perfs">
  <p>
    This row is written:</br>
    <code>&lt;div class="row perf"&gt;&lt;/div&gt;</code></br>
    <code>&lt;div class="row row-turq row-between-perfs"&gt;&lt;/div&gt;</code>
  </p>
</div>

