<div class="container">






  <h2>Full width perforations</h2>
  <p class="ui-intro">Perforations are written as<code>&lt;div class="row perfs"&gt;&lt;/div&gt;</code>.</br> To add a perforation that fits full width of the page, it should sit outside of a container.</p>

</div> <!-- END Container -->

<div class="row perf"></div>


<div class="container">

  <h2>Standard perforations</h2>
  <p class="ui-intro"> To make a perforation fit the width of the container, it should sit inside of that container.</p>

  <div class="row perf"></div>

</div> <!-- END Container -->



<div class="container">

  <h2>Perforations between coloured rows</h2>
  <p class="ui-intro"> So far we rarely use this but if you wish to have rows with a background colour, you should add the colour to the row class. i.e.<code>&lt;div class="row row-turq"&gt;&lt;/div&gt;</code>. Then if you wish to add perforations between those rows you should add the class "row-top-perfs" to the top row, and a class of "row-bottom-perfs" to the bottom row. If there are multiple rows with perforarions then add both classes to the middle rows.</p>

  <div class="row row-grey row-bottom-perfs">
    <p>&nbsp;</br>
      This row is written:</br>
      <code>&lt;div class="row row-grey row-bottom-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>

  <div class="row row-turq row-top-perfs row-bottom-perfs">
    <p>
      This row is written:</br>
      <code>&lt;div class="row row-turq row-top-perfs row-bottom-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>

  <div class="row row-grey row-top-perfs">
    <p>
      This row is written:</br>
      <code>&lt;div class="row row-grey row-top-perfs"&gt;&lt;/div&gt;</code></br>
    </p>
  </div>
  <p>&nbsp;</p>
</div> <!-- END Container -->




