<div class="ui-sard-nav-tabs">


<div class="container">
<div class="row">
  <div class="col-xs-12">

      <h4>Basic Boostrap Tabs</h4>

      <ul class="nav nav-tabs">
          <li class="nav active"><a href="#A" data-toggle="tab">A - really long long long title</a></li>
          <li class="nav"><a href="#B" data-toggle="tab">B- really long long long title</a></li>
          <li class="nav"><a href="#C" data-toggle="tab">C- really long long long title</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
          <div class="tab-pane fade in active" id="A">Content inside tab A</div>
          <div class="tab-pane fade" id="B">Content inside tab B</div>
          <div class="tab-pane fade" id="C">Content inside tab C</div>
      </div> 

  </div> <!-- / Column -->
</div> <!-- / Row -->

</div> <!-- END Container -->

<div class="container">
<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
</div>

<div class="container">
<div class="row">
  <div class="col-xs-12">

      <h4>Basic Boostrap Justified Tabs</h4>

      <ul class="nav nav-tabs nav-justified">
          <li class="nav active"><a href="#A" data-toggle="tab">A - really long long long title</a></li>
          <li class="nav"><a href="#B" data-toggle="tab">B- really long long long title</a></li>
          <li class="nav"><a href="#C" data-toggle="tab">C- really long long long title</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="sa-tab-content">
          <div class="tab-pane fade in active" id="A">Content inside tab A</div>
          <div class="tab-pane fade" id="B">Content inside tab B</div>
          <div class="tab-pane fade" id="C">Content inside tab C</div>
      </div> 

  </div> <!-- / Column -->
</div> <!-- / Row -->

</div> <!-- END Container -->

<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Sard Nav Tabs</h1>
      <h4>These are the basic SARD Nav Tabs. </h4> 
      <h4>All sa-tabs must sit within a <strong>tab-wrapper</strong>, which must sit with either a <strong>sa-tab-container</strong> or a <strong>sa-tab-container-fluid</strong>, depending on whether the rule should be fill width of the page or not.</h4> 
      <h4>&nbsp;</h4>
    </div> <!-- / Column -->
  </div> <!-- / Row -->
</div> <!-- END Container -->

<div class="sa-tab-container-fluid">
  <div class="sa-tab-wrapper">
      <h3>sa-tabs fluid</h3>
      <!-- tab-navs -->
      <ul class="sa-tabs nav nav-tabs">
        <li class="active">
          <a href="#tab-a" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>A</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-b" class="sa-tab" data-toggle="tab">
          <!-- <span class="tab-number"><p>B</p></span> -->
            <span class="tab-title"><p>Short Title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-c" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>C</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-d" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>D</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
      </ul>
    </div> <!-- / tab-wrapper -->
</div> <!-- / tab-container -->

<!-- tab-content -->
<div class="sa-tab-content">
    <div id="tab-a" class="tab-pane fade in active">
      <h3>TAB A</h3>
      <p>Some content in tab A.</p>
    </div>
    <div id="tab-b" class="tab-pane fade">
      <h3>TAB B</h3>
      <p>Some content in tab B.</p>
    </div>
    <div id="tab-c" class="tab-pane fade">
      <h3>TAB C</h3>
      <p>Some content in tab C.</p>
    </div>
    <div id="tab-d" class="tab-pane fade">
      <h3>TAB D</h3>
      <p>Some content in tab D.</p>
    </div>
</div> <!-- END tab-content -->



<div class="container">
<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
</div>


<div class="sa-tab-container">
  <div class="sa-tab-wrapper">
    <h3>sa-tabs</h3>
    <!-- tab-navs -->
    <ul class="sa-tabs nav nav-tabs">
      <li class="active">
        <a href="#tab-aa" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>A</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-bb" class="sa-tab" data-toggle="tab">
          <!-- <span class="tab-number"><p>B</p></span> -->
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-cc" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>C</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-dd" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>D</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
        </a>
      </li>
    </ul>
    </div> <!-- / tab-wrapper -->
</div> <!-- / tab-container -->      

<!-- tab-content -->
<div class="sa-tab-content">
    <div id="tab-aa" class="tab-pane fade in active">
      <h3>TAB A</h3>
      <p>Some content in tab A.</p>
    </div>
    <div id="tab-bb" class="tab-pane fade">
      <h3>TAB B</h3>
      <p>Some content in tab B.</p>
    </div>
    <div id="tab-cc" class="tab-pane fade">
      <h3>TAB C</h3>
      <p>Some content in tab C.</p>
    </div>
    <div id="tab-dd" class="tab-pane fade">
      <h3>TAB D</h3>
      <p>Some content in tab D.</p>
    </div>
</div> <!-- END tab-content -->



<div class="container">
<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
</div>

<div class="sa-tab-container-fluid">
  <div class="sa-tab-wrapper">
      <h3>sa Justified tabs fluid</h3>
      <!-- tab-navs -->
      <ul class="sa-tabs nav nav-tabs nav-justified">
        <li class="active">
          <a href="#tab-e" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>E</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-f" class="sa-tab" data-toggle="tab">
            <!-- <span class="tab-number"><p>F</p></span> -->
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-g" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>G</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
        <li class="">
          <a href="#tab-h" class="sa-tab" data-toggle="tab">
            <span class="tab-number"><p>H</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
          </a>
        </li>
      </ul>
  </div> <!-- / tab-wrapper -->
</div> <!-- / tab-container -->

<!-- tab-content -->
<div class="sa-tab-content">
    <div id="tab-e" class="tab-pane fade in active">
      <h3>TAB E</h3>
      <p>Some content in tab E.</p>
    </div>
    <div id="tab-f" class="tab-pane fade">
      <h3>TAB F</h3>
      <p>Some content in tab F.</p>
    </div>
    <div id="tab-g" class="tab-pane fade">
      <h3>TAB G</h3>
      <p>Some content in tab G.</p>
    </div>
    <div id="tab-h" class="tab-pane fade">
      <h3>TAB H</h3>
      <p>Some content in tab H.</p>
    </div>
</div> <!-- END tab-content -->


<div class="container">
<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
</div>

<div class="sa-tab-container">
  <div class="sa-tab-wrapper">
    <h3>sa Justified tabs</h3>
    <!-- tab-navs -->
    <ul class="sa-tabs nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab-ee" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>E</p></span>
            <span class="tab-title"><p>Really Long long long long long title</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-ff" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>F</p></span>
            <span class="tab-title"><p>Short title</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-gg" class="sa-tab" data-toggle="tab">
          <!-- <span class="tab-number"><p>G</p></span> -->
            <span class="tab-title"><p>No Tab Number</p></span>
        </a>
      </li>
      <li class="">
        <a href="#tab-hh" class="sa-tab" data-toggle="tab">
          <span class="tab-number"><p>H</p></span>
            <span class="tab-title"><p>Really Long long</br>long long title</p></span>
        </a>
      </li>
    </ul>
  </div> <!-- / tab-wrapper -->
</div> <!-- / tab-container -->

<!-- tab-content -->
<div class="sa-tab-content">
    <div id="tab-ee" class="tab-pane fade in active">
      <h3>TAB E</h3>
      <p>Some content in tab E.</p>
    </div>
    <div id="tab-ff" class="tab-pane fade">
      <h3>TAB F</h3>
      <p>Some content in tab F.</p>
    </div>
    <div id="tab-gg" class="tab-pane fade">
      <h3>TAB G</h3>
      <p>Some content in tab G.</p>
    </div>
    <div id="tab-hh" class="tab-pane fade">
      <h3>TAB H</h3>
      <p>Some content in tab H.</p>
    </div>
</div> <!-- END tab-content -->


<div class="row perf"></div> <!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->


<!-- VERTICAL TABS ============================================================================================================================== -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Sard Vertical Nav Tabs</h1>
      <h4>Vertical Tabs are the same as normal tabs except they should sit inside a div with a class of <strong>container vertical-tabs</strong>.</h4> 
      <h4>&nbsp;</h4>
    </div> <!-- / Column -->
  </div> <!-- / Row -->
</div> <!-- END Container -->


<div class="container vertical-tabs">
<!-- <div class="vertical-tab-wrapper"> -->
  <div class="sa-tab-wrapper">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="sa-tabs nav nav-tabs tabs-left">
          <p class="tab-intro">Intro text</p>
          <li class="active">
            <a href="#tab-5" class="sa-tab" data-toggle="tab">
              <span class="tab-number"><p>5</p></span>
              <span class="tab-title"><p>Simple Title</p></span>
            </a>
          </li>
          <li>
            <a href="#tab-6" class="sa-tab" data-toggle="tab">
              <span class="tab-number"><p>006</p></span>
              <span class="tab-title"><p>Really, Really Long Long Long Title</p></span>
            </a>
          </li>
          <li>
            <a href="#tab-7" class="sa-tab" data-toggle="tab">
              <!-- <span class="tab-number"><p>7</p></span> -->
              <span class="tab-title"><p>A title with no number</p></span>
            </a>
          </li>
          <h6 class="tab-intro">H6 - Some text here</h6>
          <li>
            <a href="#tab-8" class="sa-tab" data-toggle="tab">
              <span class="tab-number"><p>8</p></span>
              <span class="tab-title"><p>Really, Really Long Long Long Title Really, Really Long Long Long Title Really, Really Long Long Long Title</p></span>
            </a>
          </li>
      </ul>
  </div> <!-- END col-xs-3 -->
<!-- </div> --> <!--  END v-tab-wrapper -->

<!-- Vertical Tab Content -->
<div class="sa-tab-content">
    <div class="tab-pane active" id="tab-5">Tab Five</div>
    <div class="tab-pane" id="tab-6">Tab Six
     </div>
    <div class="tab-pane" id="tab-7">Tab Seven.</div>
    <div class="tab-pane" id="tab-8">Tab Eight.</div>
</div> <!-- END tab-content vertical -->

</div> <!-- END Container -->

  
</div> <!-- END ui-sard-nav-tabs -->

