<div class="row">
  <div class="col-xs-12">
    <h1>Megamenu</h1>
    <p>Click on the link in the top nav to view it.</p>
    <p>To change it's colour to the admin colour, simply add <code>admin</code> after <code>menu-large</code> </br>
    i.e <code>class="dropdown menu-large admin"</code></p>
    <p>If you don't want the dropdown menus, including the megamenu to appear on hover, then de-activete the JS script in javascripts/sard/sa-megamenu.</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->




