<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Status Alerts</h1>
      <p class="ui-intro">This shows Status Alerts within a list.</br>
        They can be within a Panel, Table or both.</p>

      <p class="ui-intro">Status alerts are designed to show the status of a document in a list by colour coding.</br> They follow the same principles of the Bootstrap alerts but also have their status initial within them.</br>
        Success = Green</br>
        Warning = Yellow</br>
        Danger - Red</br>
      </p>
      <p class="ui-intro">We have also added</br>
        Alert = Orange</br>
        None = Clear
      </p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->






  <div class="row">

    <!-- Notice Panel ============================================================================== -->

     <div class="col-sm-6 col-md-6">

       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel Status Alerts<a class="pull-right glyphicon glyphicon-info-sign"  data-toggle="popover" title="This is an example of a popover" data-placement="bottom" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa sem, aliquet a sagittis sit amet, euismod hendrerit massa. Morbi lorem mauris, sagittis ut dapibus et, rutrum et risus. Phasellus in erat faucibus, venenatis risus et, congue diam. Maecenas feugiat sem in ante suscipit, et consequat justo ultricies. Donec a tincidunt dolor. Cras faucibus ipsum id laoreet pulvinar. Nulla porttitor metus eget mauris convallis mollis."></a></h3>
        </div>
        <div class="panel-body">
          <div class="notice status status-success">
            <a href="">
              <h6>Status Success</h6>
              <p>This is an example of a Status Success.</p>
            </a>
          </div>
          <div class="notice status status-warning">
            <a href="">
              <h6>Status Warning</h6>
              <p>This is an example of a Status Warning.</p>
            </a>
          </div>
          <div class="notice status status-alert">
            <a href="">
              <h6>Status Alert</h6>
              <p>This is an example of a Status Alert.</p>
            </a>
          </div>
          <div class="notice status status-danger">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="This is an example of a tootip."></a>
            <a href="">
              <h6>Status Danger</h6>
              <p>This is an example of a Status Danger.</p>
            </a>
          </div>
          <div class="notice status status-none">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="This is an example of a tootip."></a>
            <a href="">
              <h6>Status None</h6>
              <p>This is an example of a Status None.</p>
            </a>
          </div>
        </div>
      </div> <!-- END Panel -->

    </div> <!-- END Column -->

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title">Table Status Alerts</h3>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-hover link-arrow">
              <thead>
                <tr>
                  <th class="status-col"></th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="status-col">
                    <div class="status status-alert"></div>
                  </td>
                  <td>
                    <p><a href="#">Appraisal Jul 2016</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="status-col">
                    <div class="status status-danger"></div>
                  </td>
                  <td>
                    <p><a href="#">Appraisal Aug 2016</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="status-col">
                    <div class="status status-success"></div>
                  </td>
                  <td>Title with no link</td>
                </tr>
              </tbody>
            </table>
          </div><!-- END Panel body -->
        </div><!-- END Panel -->
    </div> <!-- END Column -->

  </div> <!-- END Row -->

  <!-- ================================================================================== -->
  <div class="row">
  <div class="row perf"></div> <!-- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
  </div> <!-- END Row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Panel Status Alerts</h2>
  <p class="ui-intro">
  When creating a list like above, the list sit’s within a panel. The panel body contains a series of DIVs, one for each list item, in this case with a class of notice.</br>
  To add the Status Alert, simply add the following classes to any div: status status-STATE. i.e.</br>
  <code>
    &lt;div class="notice status status-success"&gt;</br>
      &nbsp; &lt;a href=""&gt;</br>
        &nbsp; &nbsp; &lt;h6&gt;Status Success&lt;/h6&gt;</br>
        &nbsp; &nbsp; &lt;p&gt;This is an example of a Status Success.&lt;/p&gt;</br>
      &nbsp; &lt;/a&gt;</br>
    &lt;/div&gt;
  </code>
  </p>
  <p>&nbsp;</p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Table Status Alerts</h2>
      
      <p class="ui-intro">When creating a table that contains Status Lights  and Link Icons you will need to add certain classes.</p>
      <p class="ui-intro">
        To add Status Icons within a table, you should add <code>.status-col</code> to every &lt;th&gt; and &lt;td&gt; within that column. This will make that column 5% the table width and remove the excess padding from those cells. 
        The Status Lights themselves should be placed within a &lt;div&gt; tag, within the relative &lt;td&gt;. </br>i.e:
        <code>
        &lt;td class="status-col"&gt;
          &lt;div class="status status-alert"&gt;&lt;/div&gt;
         &lt;/td&gt;</code>.
      </p>
      <p class="ui-intro">
        Here is an example of a complete responsive table within a panel:
      </p>
        <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title">Table Status Alerts</h3>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="status-col"></th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="status-col">
                    <div class="status status-alert"></div>
                  </td>
                  <td class="link-arrow">
                    <p><a href="#">Appraisal Jul 2016</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="status-col">
                    <div class="status status-danger"></div>
                  </td>
                  <td class="link-arrow">
                    <p><a href="#">Appraisal Aug 2016</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="status-col">
                    <div class="status status-success"></div>
                  </td>
                  <td>Title with no link</td>
                </tr>
              </tbody>
            </table>
          </div><!-- END Panel body -->
        </div><!-- END Panel -->

      <p class="ui-intro">
        And here is the code:
      </p>

      <code>
        &lt;div class="panel panel-default table-responsive"&gt;</br>
          &nbsp; &lt;div class="panel-heading"&gt;</br>
            &nbsp;&nbsp; &lt;h3 class="panel-title"&gt;Table Status Alerts&lt;/h3&gt;</br>
          &nbsp; &lt;/div&gt;</br>
          &nbsp; &lt;div class="panel-body panel-table"&gt;</br>
            &nbsp; &nbsp; &lt;table class="table table-hover"&gt;</br>
              &nbsp; &nbsp; &nbsp; &lt;thead&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;tr&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;th class="<strong>status-col</strong>"&gt;&lt;/th&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;th&gt;Title&lt;/th&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;/tr&gt;</br>
              &nbsp; &nbsp; &nbsp; &lt;/thead&gt;</br>
              &nbsp; &nbsp; &nbsp; &lt;tbody&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;tr&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td class="<strong>status-co</strong>l"&gt;</br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="status status-alert"&gt;&lt;/div&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/td&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td class="link-arrow"&gt;</br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p&gt;&lt;a href="#"&gt;Appraisal Jul 2016&lt;/a&gt;&lt;/p&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/td&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;/tr&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;tr&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td class="<strong>status-col</strong>"&gt;</br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="status status-danger"&gt;&lt;/div&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/td&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td class="link-arrow"&gt;</br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p&gt;&lt;a href="#"&gt;Appraisal Aug 2016&lt;/a&gt;&lt;/p&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/td&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;/tr&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;tr&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td class="<strong>status-col</strong>"&gt;</br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="status status-success"&gt;&lt;/div&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/td&gt;</br>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;td>Title with no link&lt;/td&gt;</br>
                &nbsp; &nbsp; &nbsp; &nbsp; &lt;/tr&gt;</br>
              &nbsp; &nbsp; &nbsp; &lt;/tbody&gt;</br>
            &nbsp; &nbsp; &lt;/table&gt;</br>
          &nbsp; &lt;/div&gt;&lt;&lt;!-- END Panel body --&gt;</br>
        &lt;/div&gt;&lt;!-- END Panel --&gt;

      </code>

      <p>&nbsp;</p>
      <h2>Example</h2>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Appraisals</h3>
              </div>

              <div class="panel-body panel-table table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th class="status-col"></th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Docs</th>
                      <th>Portfolio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="status-col">
                        <div class="status status-alert"></div>
                      </td>
                      <td class="link-arrow"><p><a href="#">Appraisal Jul 2016</a></p></td>
                      <td>01 Jul 2016</td>
                      <td class="link-arrow"><p><a href="#" target="_blank">AppraisalPDF </a></p>
                      <p><a href="#" target="_blank">PortfolioPDF </a></p>
                      <p><a href="#" target="_blank">Medical Educators Framework Areas PDF</a></p>
                      <p><a href="#" target="_blank">SummaryPDF </a></p></td>
                      <td><p><a href="#">Portfolio Jul 2016</a></p></td>
                    </tr>
                    <tr>
                      <td class="status-col">
                        <div class="status status-danger"></div></td>
                      <td>Title</td>
                      <td>Date</td>
                      <td>Doc</td>
                      <td>Portfolio</td>
                    </tr>
                    <tr>
                      <td class="status-col">
                        <div class="status status-success"></div></td>
                      <td>Title</td>
                      <td>Date</td>
                      <td>Doc</td>
                      <td>Portfolio</td>
                    </tr>
                    <tr>
                      <td class="status-col">
                        <div class="status status-alert"></div></td>
                      <td>Title</td>
                      <td>Date</td>
                      <td>Doc</td>
                      <td>Portfolio</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- END Panel Body-->
              <div class="perf-wht"></div>
              <div class="panel-body">
                <button type="button" class="btn btn-default">Button Default</button>
              </div>
            </div> <!-- END Panel -->
      <p>
        Note: to make the table responsive the table needs to be wrapped with a <code>.table-responsive</code> class.</br>
        Here, that class is added to the containing panel.
      </p>
            
    </div> <!-- END column -->
  </div> <!-- END Row -->

</div> <!-- END Container -->