<div class="row">
  <div class="col-xs-12">
    <h1>Tables</h1>
    <h4>Tables should always sit within Panels, even if those panels have no heading or footer. They will however need to sit within a Panel Body.</h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<!-- ========================================================================================================= -->
<!-- Full Width -->

<div class="row">
  <div class="col-xs-12">
    <h2>Best Practice</h2>
    <h3>Full width Table within Panels</h3>
    <h4>To make the table to extend the full width of the panel then you should <span class="green">ADD</span> a class of <code>.panel-table</code> to the Panel-Body that contains that table.</h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Basic Table inside a Primary Panel</h3>
      </div>
      <div class="panel-body">
        <h5>This is a Basic Table that sits within a Panel Body that has the added class of </br><code>.panel-table</code>.</h5>
        </div> <!-- END Panel Body -->
        <div class="perf-wht"></div>
        <div class="panel-body panel-table">
        <table class="table table-hover">
          <caption>This is an optional table caption.</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>table footer</th>
              <th>$180</th>
              <th>$180</th>
            </tr>
          </tfoot>
        </table>
      </div> <!-- END Panel Body -->
      <div class="panel-footer">
        Panel footer
      </div>           
    </div> <!-- END Panel -->
  </div> <!-- END Column -->

  <div class="col-sm-6">
    <div class="panel panel-NRv">
      <div class="panel-heading">
        <h3 class="panel-title">Basic table inside a Panel NRv</h3>
      </div>
      <div class="panel-body">
        <h5>This is a Basic Table that sits within a Panel Body that has the added class of </br><code>.panel-table</code>.</h5>
        </div> <!-- END Panel Body -->
        <div class="perf-wht"></div>
        <div class="panel-body panel-table">
        <table class="table table-hover">
          <caption>This is an optional table caption.</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>table footer</th>
              <th>$180</th>
              <th>$180</th>
            </tr>
          </tfoot>
        </table>
      </div> <!-- END Panel Body -->
      <div class="panel-footer">
        Panel footer
      </div>           
    </div> <!-- END Panel -->
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Default Table with hover</h3>
      <table class="table table-hover table-default">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="top-row">John</td>
            <td class="top-row">Doe</td>
            <td class="top-row">john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
              <th>table footer</th>
              <th>$180</th>
              <th>$180</th>
            </tr>
          </tfoot>
      </table>
  </div> <!-- END Column -->

  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Info Table with hover</h3>
      <table class="table table-hover table-info">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="top-row">John</td>
            <td class="top-row">Doe</td>
            <td class="top-row">john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
              <th>table footer</th>
              <th>$180</th>
              <th>$180</th>
            </tr>
          </tfoot>
      </table>
  </div> <!-- END Column -->
</div> <!-- END Row -->


<!-- ========================================================================================================= -->
<!-- Non Full Width -->

<div class="row">
  <div class="divide-rule"></div>
  <div class="col-xs-12">
    <h2>Optional</h2>
    <h3>Non full width Table within Panels</h3>
    <h4> Occasional you may wish to have the table not fit the full width of the panel body. to do this simple do <span class="red">NOT</span> add the <code>.panel-table</code> to the Panel-Body that contains that table. This will revert to bootstraps default settings.</h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-md-6">
    <h3>Panel panel-white</h3>
    <div class="panel panel-white">
      <h4>Basic Table in a White Panel</h4>
      <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
      <div class="panel-body">            
        <table class="table">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div><!-- END Panel Body-->
    </div> <!-- END Panel -->
  </div> <!-- END Column -->

  <div class="col-md-6">
  <h3>Panel Default</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel Heading</h3>
      </div>
      <div class="panel-body">
        <h4>Basic Table in a Default Panel</h4>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> 
                 
        <table class="table">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END Panel Body -->
    </div> <!-- END Panel -->
  </div> <!-- END Column -->
</div> <!-- END Row -->


<div class="row">
  <div class="col-sm-12">
  <h3>Panel Primary</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel Heading</h3>
      </div>
      <div class="panel-body">
        <h3>Basic Table in a Primary Panel</h3>
        <p>This shows a basic table within the body of a Primay panel.</p> 
        </div> <!-- END Panel Body -->
        <div class="perf-wht"></div>
        <div class="panel-body">
        <table class="table">
          <caption>This is an optional table caption.</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END Panel Body -->
      <div class="panel-footer">
        Panel footer
      </div>           
    </div> <!-- END Panel -->
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="divide-rule"></div>
  <div class="col-xs-12">
    <h2>Important</h2>
    <h4>When inside a Panel a Table should ALWAYS sit within a Panel Body.</h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">GOOD</h3>
      </div>
      <div class="panel-body">
        <h5>This is a Basic Table that sits within a Panel Body.</h5>
        </div> <!-- END Panel Body -->
        <div class="perf-wht"></div>
        <div class="panel-body">
        <table class="table">
          <caption>This is an optional table caption.</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END Panel Body -->
      <div class="panel-footer">
        Panel footer
      </div>           
    </div> <!-- END Panel -->
  </div> <!-- END Column -->

  <div class="col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">BAD</h3>
      </div>
      <div class="panel-body">
        <h5>This is a Basic Table that does NOT sit within a Panel Body.</h5>
        </div> <!-- END Panel Body -->
        <div class="perf-wht"></div>
        <table class="table">
          <caption>This is an optional table caption.</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      <div class="panel-footer">
        Panel footer
      </div>           
    </div> <!-- END Panel -->
  </div> <!-- END Column -->
</div> <!-- END Row -->



 <!-- Tabels outside panels ======================================================================= -->

 <div class="row">
  <div class="divide-rule"></div>
  <div class="col-xs-12">
    <h2>Tables outside panels</h2>
    <h4>Occasionally you may need tables outside of panels. These are the basic bootstrap tables.</h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
  <h3>Basic Table</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- END Column -->

  <div class="col-sm-6">
  <h3>Striped Table</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Bordered Table</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- END Column -->

  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Hover Table</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Condensed Table</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- END Column -->

  <div class="col-sm-6">
  <p>&nbsp;</p>
  <h3>Contextual Table with hover</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>Active</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr class="success">
            <td>Success</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr class="warning">
            <td>Warning</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr class="danger">
            <td>Danger</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr class="info">
            <td>Info</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
        </tbody>
      </table>
      <p>Each of the above table rows has a contextual class added. This could also be applied to separate cells if prefered. </p>
  </div> <!-- END Column -->
</div> <!-- END Row -->


 <!-- Responsive Tables ======================================================================= -->

 <div class="row">
  <div class="divide-rule"></div>
  <div class="col-xs-12">
    <h2>Responsive Tables</h2>
    <h4>To make the table responsive the table needs to be wrapped with a <code>.table-responsive</code> class.</br>
      In most cases that class should be added to the containing panel. i.e:</br>
      <code>&lt;div class="panel panel-default table-responsive"&gt;</code>.
    </h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

 <!-- SARD Tables ======================================================================= -->

 <div class="row">
  <div class="divide-rule"></div>
  <div class="col-xs-12">
    <h2>SARD Tables</h2>
    <h4>The above cover the basic use of Bootstrap Tables with the SARD colouring, but for more detailed usage refer to the SARD Components section for:
      <ul class="">
            <li class="link-icon"><a href="../../pages/ui/ui-sard.html#table-lists">Table Lists</a></li>    
          </ul>
    </h4>
    <p>&nbsp;</p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

