<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Text Links</h2>
      
      <p class="ui-intro">
      To include Link Icons before the text link so that the icon hangs properly on multi-line links, Add the class <code>class="link-arrow"</code>.</p> 
      <p class="ui-intro">
      When in a List within a Panel, it can be added to the UL tag <code>&lt;ul class="link-arrow list-group"&gt;&lt;/ul&gt;</code>.
      </p>
      <p class="ui-intro">
        When in a Table it should be added to the individual TD tag, and the link should be wrapped in a p tag,<code>&lt;td class="link-arrow"&gt;&lt;/td&gt;</code> 
      </p>
      <p class="ui-intro"> In all cases the link should be wrapped in a p tag. ie: </br>
        <code>&lt;ul class="link-arrow list-group"&gt;</code> </br>
        &nbsp; &nbsp; <code>&lt;li&gt;&lt;p&gt;&lt;a href="#"&gt;List Link&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;</code> </br>
        <code>&lt;/ul&gt;</code> </br>
        or </br>
        <code>&lt;td class="link-arrow"&gt;&lt;p&gt;&lt;a href="#"&gt;Table Link&lt;/a&gt;&lt;/p&gt;</td></code>
      </p>
    </div> <!-- END Column -->
  </div> <!-- END Row -->

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title">Panel with link icons</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li><p class="link-arrow"><a href="#">Link</a></p></li>
              <li><p class="link-pdf"><a href="#">A really, really, really, really, really, really, really, really, really, really, really, long text link</a></p></li>
              <li><p class="link-arrow"><a href="#">Link</a></p></li>
              <li><p>No Link</p></li>
            </ul>
          </div><!-- END Panel body -->
        </div><!-- END Panel -->

    </div> <!-- END Column -->

    <div class="col-xs-6">
      <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title">Table with link icons</h3>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="link-pdf"><a href="#">A really, really, really, really, really, really, really, really, really, really, really, long text link</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="link-arrow">
                    <p><a href="#">Appraisal Aug 2016</a></p>
                  </td>
                </tr>
                <tr>
                  <td>Title with no link</td>
                </tr>
              </tbody>
            </table>
          </div><!-- END Panel body -->
        </div><!-- END Panel -->

    </div> <!-- END Column -->
  </div> <!-- END Row -->
</div> <!-- END Container -->

