<div class="row">
  <div class="col-xs-12">
    <h1>Text Links</h1>
    
    <h4>
    To include Link Icons before the text link so that the icon hangs properly on multi-line links, Add the class <code>class="link-icon"</code>.</h4> 
    <p>
    When in a List within a Panel, it can be added to the UL tag <code>&lt;ul class="link-icon list-group"&gt;&lt;/ul&gt;</code>.
    </p>
    <p>
      When in a Table it should be added to the individual TD tag, and the link should be wrapped in a p tag,<code>&lt;td class="link-icon"&gt;&lt;/td&gt;</code> 
    </p>
    <p> In all cases the link should be wrapped in a p tag. ie: </br>
      <code>&lt;ul class="link-icon list-group"&gt;</code> </br>
      &nbsp; &nbsp; <code>&lt;li&gt;&lt;p&gt;&lt;a href="#"&gt;List Link&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;</code> </br>
      <code>&lt;/ul&gt;</code> </br>
      or </br>
      <code>&lt;td class="link-icon"&gt;&lt;p&gt;&lt;a href="#"&gt;Table Link&lt;/a&gt;&lt;/p&gt;</td></code>
    </p>
  </div> <!-- END Column -->
</div> <!-- END Row -->

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
          <h3 class="panel-title">Panel with link icons</h3>
        </div>
        <div class="panel-body">
          <ul class="link-icon list-group">
            <li><p><a href="#">Link</a></p></li>
            <li><p><a href="#">A really, really, really, really, really, really, really, really, really, really, really, long text link</a></p></li>
            <li><p><a href="#">Link</a></p></li>
            <li><p>No Link</p></li>
          </ul>
        </div><!-- END Panel body -->
      </div><!-- END Panel -->

  </div> <!-- END Column -->

  <div class="col-xs-6">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
          <h3 class="panel-title">Table with link icons</h3>
        </div>
        <div class="panel-body panel-table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="link-icon">
                  <p><a href="#">A really, really, really, really, really, really, really, really, really, really, really, long text link</a></p>
                </td>
              </tr>
              <tr>
                <td class="link-icon">
                  <p><a href="#">Appraisal Aug 2016</a></p>
                </td>
              </tr>
              <tr>
                <td>Title with no link</td>
              </tr>
            </tbody>
          </table>
        </div><!-- END Panel body -->
      </div><!-- END Panel -->

  </div> <!-- END Column -->
</div> <!-- END Row -->


