<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Tooltips & Popovers</h2>
      <p class="ui-intro">To avoid visual clutter all Tooltips & Popovers should be set to float right of the list item they are within.</p>
      <p class="ui-intro">Tooltips are activated by hovering over them while Popovers are activated by clicking on them.</p>
      <p>&nbsp;</p>
    </div> <!-- / Column -->
  </div> <!-- / Row -->


    <!-- Notice Panel ============================================================================== -->
  <div class="row">
     <div class="col-sm-6">

       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notices<a class="pull-right glyphicon glyphicon-info-sign"  data-toggle="popover" title="This is an example of a popover" data-placement="bottom" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa sem, aliquet a sagittis sit amet, euismod hendrerit massa. Morbi lorem mauris, sagittis ut dapibus et, rutrum et risus. Phasellus in erat faucibus, venenatis risus et, congue diam. Maecenas feugiat sem in ante suscipit, et consequat justo ultricies. Donec a tincidunt dolor. Cras faucibus ipsum id laoreet pulvinar. Nulla porttitor metus eget mauris convallis mollis."></a></h3>
        </div>
        <div class="panel-body">
          <div class="notice status status-success">
            <a href="">
              <h6>Status Success</h6>
              <p>This is an example of a Status Success.</p>
            </a>
          </div>
          <div class="notice status status-warning">
            <a href="">
              <h6>Status Warning</h6>
              <p>This is an example of a Status Warning.</p>
            </a>
          </div>
          <div class="notice status status-alert">
            <a href="">
              <h6>Status Alert</h6>
              <p>This is an example of a Status Alert.</p>
            </a>
          </div>
          <div class="notice status status-danger">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="This is an example of a tootip."></a>
            <a href="">
              <h6>Status Danger</h6>
              <p>This is an example of a Status Danger.</p>
            </a>
          </div>
          <div class="notice status status-none">
            <a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="This is an example of a tootip."></a>
            <a href="">
              <h6>Status None</h6>
              <p>This is an example of a Status None.</p>
            </a>
          </div>
        </div>
      </div> <!-- / Panel -->

    </div> <!-- / Column -->

    <div class="col-sm-6">
      <h4>Popovers</h4>
      <p>Popovers are added by using a link with NO url, like this:</br>
        <code>&lt;a class="pull-right glyphicon glyphicon-info-sign"  data-toggle="popover" title="Add popover title here" data-placement="bottom" data-content="Add popover content here."&gt;&lt;/a&gt;</code>
      </p>
      <h4>Tooltips</h4>
      <p>Tooltips are added by adding the following:</br>
        <code>&lt;a class="pull-right glyphicon glyphicon-info-sign"  
            data-toggle="tooltip" 
            title="This is an example of a tootip."&gt;&lt;/a&gt;</code>
      </p>
    </div> <!-- END Column -->


  </div> <!-- / Row -->
</div> <!-- / Container -->